In [1]:
import pandas as pd

In [2]:
df_gencode = pd.read_csv("data/01_gencode_introns.tsv", sep="\t")
df_gencode["class"] = 1
df_gencode

         chr     start       end strand  class
0       chr1     12227     12612      +      1
1       chr1     12721     13220      +      1
2       chr1     12057     12178      +      1
3       chr1     12697     12974      +      1
4       chr1     13052     13220      +      1
...      ...       ...       ...    ...    ...
402449  chrY  57211569  57211760      +      1
402450  chrY  57213125  57213203      -      1
402451  chrY  57213357  57213525      -      1
402452  chrY  57213602  57213879      -      1
402453  chrY  57213964  57214349      -      1

[402454 rows x 5 columns]

In [3]:
df_manually_rejected_introns = pd.read_csv("data/02_manually_rejected_introns.tsv", sep="\t")
df_manually_rejected_introns["class"] = 0
df_manually_rejected_introns = df_manually_rejected_introns.drop_duplicates(subset=["chr", "start", "end", "strand"])
df_manually_rejected_introns

      chr      start        end strand  class
0    chr1     732207     739802      -      0
1    chr1    6634784    6634990      -      0
2    chr1    9036720    9088663      +      0
3    chr1    9088686    9100902      +      0
4    chr1   11277018   11277484      -      0
..    ...        ...        ...    ...    ...
398  chrX  151403679  151404937      +      0
399  chrX  151409210  151456968      +      0
400  chrX  153906577  153906694      -      0
401  chrX  153906409  153906520      -      0
402  chrY   20579691   20582591      +      0

[403 rows x 5 columns]

In [4]:
df_simulation_a_introns = pd.read_csv("./data/false_introns_simulated/simulation_a_introns.bed", sep="\t",
									names=["chr", "start", "end", "features", "score", "strand"])
df_simulation_a_introns = df_simulation_a_introns.loc[:, ["chr", "start", "end", "strand"]]
df_simulation_a_introns["class"] = 0
df_simulation_a_introns = df_simulation_a_introns.drop_duplicates(subset=["chr", "start", "end", "strand"])
df_simulation_a_introns

               chr   start     end strand  class
0             chr1   14829   14969      -      0
1             chr1   15038   15795      -      0
2             chr1   15947   16606      -      0
3             chr1   16765   16853      -      0
4             chr1   17055   17232      -      0
...            ...     ...     ...    ...    ...
961185  KI270734.1  151021  161313      -      0
961190  KI270734.1  156415  160060      -      0
961191  KI270744.1  126432  134115      -      0
961192  KI270744.1  134211  134712      -      0
961193  KI270744.1  134839  140776      -      0

[294590 rows x 5 columns]

In [5]:
df_simulation_b_introns = pd.read_csv("./data/false_introns_simulated/simulation_b_introns.bed", sep="\t",
									names=["chr", "start", "end", "features", "score", "strand"])
df_simulation_b_introns = df_simulation_b_introns.loc[:, ["chr", "start", "end", "strand"]]
df_simulation_b_introns["class"] = 0
df_simulation_b_introns = df_simulation_b_introns.drop_duplicates(subset=["chr", "start", "end", "strand"])
df_simulation_b_introns

                chr   start     end strand  class
0              chr1   14829   14969      -      0
1              chr1   15038   15795      -      0
2              chr1   15947   16606      -      0
3              chr1   16765   16853      -      0
4              chr1   17055   17232      -      0
...             ...     ...     ...    ...    ...
2881077  KI270734.1  151021  161313      -      0
2881108  KI270734.1  156415  160060      -      0
2881109  KI270744.1  126432  134115      -      0
2881110  KI270744.1  134211  134712      -      0
2881111  KI270744.1  134839  140776      -      0

[341719 rows x 5 columns]

In [6]:
df_simulation_c_introns = pd.read_csv("./data/false_introns_simulated/simulation_c_introns.bed", sep="\t",
									names=["chr", "start", "end", "features", "score", "strand"])
df_simulation_c_introns = df_simulation_c_introns.loc[:, ["chr", "start", "end", "strand"]]
df_simulation_c_introns["class"] = 0
df_simulation_c_introns = df_simulation_c_introns.drop_duplicates(subset=["chr", "start", "end", "strand"])
df_simulation_c_introns

                chr   start     end strand  class
0              chr1   14829   14969      -      0
1              chr1   15038   15795      -      0
2              chr1   15947   16606      -      0
3              chr1   16765   16853      -      0
4              chr1   17055   17232      -      0
...             ...     ...     ...    ...    ...
2963821  KI270734.1  151021  161313      -      0
2963835  KI270734.1  156415  160060      -      0
2963857  KI270744.1  126432  134115      -      0
2963858  KI270744.1  134211  134712      -      0
2963859  KI270744.1  134839  140776      -      0

[316991 rows x 5 columns]

In [7]:
df_simulation_d_introns = pd.read_csv("./data/false_introns_simulated/simulation_d_introns.bed", sep="\t",
									names=["chr", "start", "end", "features", "score", "strand"])
df_simulation_d_introns = df_simulation_d_introns.loc[:, ["chr", "start", "end", "strand"]]
df_simulation_d_introns["class"] = 0
df_simulation_d_introns = df_simulation_d_introns.drop_duplicates(subset=["chr", "start", "end", "strand"])
df_simulation_d_introns

               chr  start    end strand  class
0             chr1  12227  12612      +      0
1             chr1  12721  13220      +      0
6             chr1  12227  12594      +      0
7             chr1  12721  13402      +      0
8             chr1  14829  14969      -      0
...            ...    ...    ...    ...    ...
167229  KI270749.1  37099  39211      +      0
167230  KI270749.1  39277  40568      +      0
167231  KI270750.1  90486  95158      -      0
167232  KI270753.1  42256  43417      -      0
167233  KI270753.1  43541  44201      -      0

[79478 rows x 5 columns]

In [8]:
df_trainset_combined = pd.concat([df_gencode, df_manually_rejected_introns, df_simulation_a_introns, df_simulation_b_introns,
					   df_simulation_c_introns, df_simulation_d_introns]).drop_duplicates(subset=["chr", "start", "end", "strand"], keep='first')

In [9]:
df_trainset_combined

               chr  start    end strand  class
0             chr1  12227  12612      +      1
1             chr1  12721  13220      +      1
2             chr1  12057  12178      +      1
3             chr1  12697  12974      +      1
4             chr1  13052  13220      +      1
...            ...    ...    ...    ...    ...
167229  KI270749.1  37099  39211      +      0
167230  KI270749.1  39277  40568      +      0
167231  KI270750.1  90486  95158      -      0
167232  KI270753.1  42256  43417      -      0
167233  KI270753.1  43541  44201      -      0

[519894 rows x 5 columns]

In [10]:
print("Total amount of generated negative introns:", sum(df_trainset_combined["class"] == 0))

Total amount of generated negative introns: 117440

In [11]:
assert (len(df_trainset_combined[df_trainset_combined.start == 15038]) == 1)
assert (df_trainset_combined[df_trainset_combined.start == 15038].iloc[0]["class"] == 1)