In [13]:
import pandas as pd

In [14]:
df_gencode = pd.read_csv("data/01_gencode_introns.tsv", sep="\t")
df_gencode["class"] = 1
df_gencode

         chr     start       end strand  class
0       chr1     12227     12612      +      1
1       chr1     12721     13220      +      1
2       chr1     12057     12178      +      1
3       chr1     12697     12974      +      1
4       chr1     13052     13220      +      1
...      ...       ...       ...    ...    ...
402449  chrY  57211569  57211760      +      1
402450  chrY  57213125  57213203      -      1
402451  chrY  57213357  57213525      -      1
402452  chrY  57213602  57213879      -      1
402453  chrY  57213964  57214349      -      1

[402454 rows x 5 columns]

In [15]:
df_manually_rejected_introns = pd.read_csv("data/02_manually_rejected_introns.tsv", sep="\t")
df_manually_rejected_introns["class"] = 0
df_manually_rejected_introns = df_manually_rejected_introns.drop_duplicates(subset=["chr", "start", "end", "strand"])
df_manually_rejected_introns

      chr      start        end strand  class
0    chr1     732207     739802      -      0
1    chr1    6634784    6634990      -      0
2    chr1    9036720    9088663      +      0
3    chr1    9088686    9100902      +      0
4    chr1   11277018   11277484      -      0
..    ...        ...        ...    ...    ...
398  chrX  151403679  151404937      +      0
399  chrX  151409210  151456968      +      0
400  chrX  153906577  153906694      -      0
401  chrX  153906409  153906520      -      0
402  chrY   20579691   20582591      +      0

[403 rows x 5 columns]

In [16]:
df_simulation_a_introns = pd.read_csv("./data/false_introns_simulated/simulation_a_introns.bed", sep="\t",
									names=["chr", "start", "end", "features", "score", "strand"])
df_simulation_a_introns = df_simulation_a_introns.loc[:, ["chr", "start", "end", "strand"]]
df_simulation_a_introns["class"] = 0
df_simulation_a_introns = df_simulation_a_introns.drop_duplicates(subset=["chr", "start", "end", "strand"])
df_simulation_a_introns

         chr     start       end strand  class
0       chr1     14829     14969      -      0
1       chr1     15038     15795      -      0
2       chr1     15947     16606      -      0
3       chr1     16765     16853      -      0
4       chr1     17055     17232      -      0
...      ...       ...       ...    ...    ...
960777  chrY  57209354  57209531      +      0
960778  chrY  57209733  57209821      +      0
960779  chrY  57209980  57210639      +      0
960780  chrY  57210792  57211551      +      0
960781  chrY  57211620  57211760      +      0

[294424 rows x 5 columns]

In [17]:
df_simulation_b_introns = pd.read_csv("./data/false_introns_simulated/simulation_b_introns.bed", sep="\t",
									names=["chr", "start", "end", "features", "score", "strand"])
df_simulation_b_introns = df_simulation_b_introns.loc[:, ["chr", "start", "end", "strand"]]
df_simulation_b_introns["class"] = 0
df_simulation_b_introns = df_simulation_b_introns.drop_duplicates(subset=["chr", "start", "end", "strand"])
df_simulation_b_introns

          chr     start       end strand  class
0        chr1     14829     14969      -      0
1        chr1     15038     15795      -      0
2        chr1     15947     16606      -      0
3        chr1     16765     16853      -      0
4        chr1     17055     17232      -      0
...       ...       ...       ...    ...    ...
2879937  chrY  57209354  57209531      +      0
2879938  chrY  57209733  57209821      +      0
2879939  chrY  57209980  57210639      +      0
2879940  chrY  57210792  57211551      +      0
2879941  chrY  57211620  57211760      +      0

[341481 rows x 5 columns]

In [18]:
df_simulation_c_introns = pd.read_csv("./data/false_introns_simulated/simulation_c_introns.bed", sep="\t",
									names=["chr", "start", "end", "features", "score", "strand"])
df_simulation_c_introns = df_simulation_c_introns.loc[:, ["chr", "start", "end", "strand"]]
df_simulation_c_introns["class"] = 0
df_simulation_c_introns = df_simulation_c_introns.drop_duplicates(subset=["chr", "start", "end", "strand"])
df_simulation_c_introns

          chr     start       end strand  class
0        chr1     14829     14969      -      0
1        chr1     15038     15795      -      0
2        chr1     15947     16606      -      0
3        chr1     16765     16853      -      0
4        chr1     17055     17232      -      0
...       ...       ...       ...    ...    ...
2962663  chrY  57209733  57209821      +      0
2962664  chrY  57209980  57210639      +      0
2962665  chrY  57210792  57211551      +      0
2962666  chrY  57211620  57211760      +      0
2962707  chrY  57209350  57209531      +      0

[316789 rows x 5 columns]

In [19]:
df_simulation_d_introns = pd.read_csv("./data/false_introns_simulated/simulation_d_introns.bed", sep="\t",
									names=["chr", "start", "end", "features", "score", "strand"])
df_simulation_d_introns = df_simulation_d_introns.loc[:, ["chr", "start", "end", "strand"]]
df_simulation_d_introns["class"] = 0
df_simulation_d_introns = df_simulation_d_introns.drop_duplicates(subset=["chr", "start", "end", "strand"])
df_simulation_d_introns

         chr     start       end strand  class
0       chr1     12227     12612      +      0
1       chr1     12721     13220      +      0
6       chr1     12227     12594      +      0
7       chr1     12721     13402      +      0
8       chr1     14829     14969      -      0
...      ...       ...       ...    ...    ...
165932  chrY  57210792  57211551      +      0
165935  chrY  57208979  57209218      +      0
165940  chrY  57211620  57211760      +      0
165941  chrY  57213357  57213855      -      0
165942  chrY  57213964  57214349      -      0

[78889 rows x 5 columns]

In [20]:
df_trainset_combined = pd.concat([df_gencode, df_manually_rejected_introns, df_simulation_a_introns, df_simulation_b_introns,
					   df_simulation_c_introns, df_simulation_d_introns]).drop_duplicates(subset=["chr", "start", "end", "strand"], keep='first')

In [21]:
df_trainset_combined

         chr     start       end strand  class
0       chr1     12227     12612      +      1
1       chr1     12721     13220      +      1
2       chr1     12057     12178      +      1
3       chr1     12697     12974      +      1
4       chr1     13052     13220      +      1
...      ...       ...       ...    ...    ...
165903  chrY  25464577  25465486      +      0
165908  chrY  25513173  25513588      -      0
165909  chrY  25513745  25516715      -      0
165911  chrY  25525288  25527646      -      0
165941  chrY  57213357  57213855      -      0

[519034 rows x 5 columns]

In [22]:
print("Total amount of generated negative introns:", sum(df_trainset_combined["class"] == 0))

Total amount of generated negative introns: 116580

In [23]:
assert (len(df_trainset_combined[df_trainset_combined.start == 15038]) == 1)
assert (df_trainset_combined[df_trainset_combined.start == 15038].iloc[0]["class"] == 1)

In [24]:
df_trainset_combined.to_csv("data/04_train_set.tsv", sep="\t", index=False)
df_trainset_combined

         chr     start       end strand  class
0       chr1     12227     12612      +      1
1       chr1     12721     13220      +      1
2       chr1     12057     12178      +      1
3       chr1     12697     12974      +      1
4       chr1     13052     13220      +      1
...      ...       ...       ...    ...    ...
165903  chrY  25464577  25465486      +      0
165908  chrY  25513173  25513588      -      0
165909  chrY  25513745  25516715      -      0
165911  chrY  25525288  25527646      -      0
165941  chrY  57213357  57213855      -      0

[519034 rows x 5 columns]