In [1]:
import pandas as pd
import subprocess
from pandarallel import pandarallel

In [2]:
sha512sum = !sha512sum data/08_trainset_with_seq.tsv
assert("159da72ef546de9f15bfc662d51b70987134035499c64674f4240279ed9d120d34b0312bf98f1cda8c4d43222df7175f818c6d53c9dde2487ea7cf747b51ab05" in sha512sum[0])

In [3]:
df_train_set = pd.read_csv("data/08_trainset_with_seq.tsv", sep="\t", usecols=["maxentscan_sequence"])
df_train_set

                                      maxentscan_sequence
0       ccaGTAAGTAGTGCTTGTGCTCATCTCCTTGGCTGTGATACGTGGC...
1       gagGTGAGAGGAGAGTAGACAGTGAGTGGGAGTGGCGTCGCCCCTA...
2       gagCACTGGAGTGGAGTTTTCCTGTGGAGAGGAGCCATGCCTAGAG...
3       cttGTGAGTGTCCCCAGTGTTGCAGAGGTGAGAGGAGAGTAGACAG...
4       tagGCAAGCCTGGCTGCCTCCAGCTGGGTCGACAGACAGGGGCTGG...
...                                                   ...
519029  cacGTTGAGGCGCCCAGTGGCGGCCTCACGGGGCAGGGCGAGGGCG...
519030  aggGTAAGATCAGTGCTATTGTCAGAGGAAAAACTCCTGGCCATCA...
519031  gctGTAAGTTCCACATTGATTATCATAGGCTAACCATGGGCCAGGC...
519032  tgtGTGTATAAATATCTGGACTTTTTGGTTAAGTAATTATAGTTAA...
519033  gagGTGAGAGGAGAGTAGACAGTGAGTGGGAGTGGCGTCGCCCCTA...

[519034 rows x 1 columns]

In [4]:
df_train_set["mes_start_ss_seq"] = df_train_set["maxentscan_sequence"].apply(lambda x: x[:9])
df_train_set

                                      maxentscan_sequence mes_start_ss_seq
0       ccaGTAAGTAGTGCTTGTGCTCATCTCCTTGGCTGTGATACGTGGC...        ccaGTAAGT
1       gagGTGAGAGGAGAGTAGACAGTGAGTGGGAGTGGCGTCGCCCCTA...        gagGTGAGA
2       gagCACTGGAGTGGAGTTTTCCTGTGGAGAGGAGCCATGCCTAGAG...        gagCACTGG
3       cttGTGAGTGTCCCCAGTGTTGCAGAGGTGAGAGGAGAGTAGACAG...        cttGTGAGT
4       tagGCAAGCCTGGCTGCCTCCAGCTGGGTCGACAGACAGGGGCTGG...        tagGCAAGC
...                                                   ...              ...
519029  cacGTTGAGGCGCCCAGTGGCGGCCTCACGGGGCAGGGCGAGGGCG...        cacGTTGAG
519030  aggGTAAGATCAGTGCTATTGTCAGAGGAAAAACTCCTGGCCATCA...        aggGTAAGA
519031  gctGTAAGTTCCACATTGATTATCATAGGCTAACCATGGGCCAGGC...        gctGTAAGT
519032  tgtGTGTATAAATATCTGGACTTTTTGGTTAAGTAATTATAGTTAA...        tgtGTGTAT
519033  gagGTGAGAGGAGAGTAGACAGTGAGTGGGAGTGGCGTCGCCCCTA...        gagGTGAGA

[519034 rows x 2 columns]

In [5]:
df_train_set["mes_end_ss_seq"] = df_train_set["maxentscan_sequence"].apply(lambda x: x[-23:])
df_train_set

,maxentscan_sequence,mes_start_ss_seq,mes_end_ss_seq
0,ccaGTAAGTAGTGCTTGTGCTCATCTCCTTGGCTGTGATACGTGGC...,ccaGTAAGT,AGGCTCCTGTCTCCCCCCAGgtg
1,gagGTGAGAGGAGAGTAGACAGTGAGTGGGAGTGGCGTCGCCCCTA...,gagGTGAGA,TAGCCTCTGTTCCCACGAAGgca
2,gagCACTGGAGTGGAGTTTTCCTGTGGAGAGGAGCCATGCCTAGAG...,gagCACTGG,AACCAGGCATAGGGGAAAGAttg
3,cttGTGAGTGTCCCCAGTGTTGCAGAGGTGAGAGGAGAGTAGACAG...,cttGTGAGT,GTCATCCCCTTCACTCCCAGctc
4,tagGCAAGCCTGGCTGCCTCCAGCTGGGTCGACAGACAGGGGCTGG...,tagGCAAGC,TAGCCTCTGTTCCCACGAAGgca
...,...,...,...
519029,cacGTTGAGGCGCCCAGTGGCGGCCTCACGGGGCAGGGCGAGGGCG...,cacGTTGAG,ATGCCTCGTTCTTCAGTCAGgtt
519030,aggGTAAGATCAGTGCTATTGTCAGAGGAAAAACTCCTGGCCATCA...,aggGTAAGA,TTTCCTTTTTTCTTTTTAAGgta
519031,gctGTAAGTTCCACATTGATTATCATAGGCTAACCATGGGCCAGGC...,gctGTAAGT,GAGATTTGGTACATCCCCAGaag
519032,tgtGTGTATAAATATCTGGACTTTTTGGTTAAGTAATTATAGTTAA...,tgtGTGTAT,CAGCAGCTTTTGTGTTTCAGgct
519033,gagGTGAGAGGAGAGTAGACAGTGAGTGGGAGTGGCGTCGCCCCTA...,gagGTGAGA,TAGCCTCTGTTCCCACGAAGgca

In [6]:
df_train_set=df_train_set.drop(columns=["maxentscan_sequence"], axis=1)
df_train_set

       mes_start_ss_seq           mes_end_ss_seq
0             ccaGTAAGT  AGGCTCCTGTCTCCCCCCAGgtg
1             gagGTGAGA  TAGCCTCTGTTCCCACGAAGgca
2             gagCACTGG  AACCAGGCATAGGGGAAAGAttg
3             cttGTGAGT  GTCATCCCCTTCACTCCCAGctc
4             tagGCAAGC  TAGCCTCTGTTCCCACGAAGgca
...                 ...                      ...
519029        cacGTTGAG  ATGCCTCGTTCTTCAGTCAGgtt
519030        aggGTAAGA  TTTCCTTTTTTCTTTTTAAGgta
519031        gctGTAAGT  GAGATTTGGTACATCCCCAGaag
519032        tgtGTGTAT  CAGCAGCTTTTGTGTTTCAGgct
519033        gagGTGAGA  TAGCCTCTGTTCCCACGAAGgca

[519034 rows x 2 columns]

In [7]:
pandarallel.initialize()

INFO: Pandarallel will run on 12 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [8]:
def maxentscan_5(row):
    """
    We call the tabix command, which look at the bed file to see if the row (which are entries in the intron that we extracted) overlaps with the repeat
    regions detailed in the repeat_features.bed.gz, apart from the splice-site ({row.end-2}), we also look at the small-region that proceeds (2 nt in the exon; {row.end+2}) the splice-site.
    """
    # score = !perl MaxEntScan/score5.pl {row.sequence[:9]} | cut -f2
    # # score = score[-1:1]
    # return score
    target_sequence = row
    if len(target_sequence) < 9:
	    return 0
    result = subprocess.run(f"perl MaxEntScan/score5.pl {target_sequence}", shell=True, stdout=subprocess.PIPE, text=True)
    try:
    	score = result.stdout.strip().split("\t")[1]
    except:
        print(result)
        return result
    return score

In [9]:
# %%time
# df_test = df_train_set.copy().head(10)
# df_test["test"] = df_test["maxentscan_start_ss"].parallel_apply(maxentscan_5)
# df_test

In [10]:
%%time
df_train_set["MaxEntScan_start_ss"] = df_train_set["mes_start_ss_seq"].parallel_apply(maxentscan_5)

CPU times: user 97.4 ms, sys: 299 ms, total: 397 ms
Wall time: 20min 19s

In [13]:
df_train_set.loc[df_train_set["mes_start_ss_seq"].str.contains("N"), "MaxEntScan_start_ss"] = 0
df_train_set[df_train_set["mes_start_ss_seq"].str.contains("N")]

Empty DataFrame
Columns: [mes_start_ss_seq, mes_end_ss_seq, MaxEntScan_start_ss]
Index: []

# 3-prime end

In [14]:
def maxentscan_3(row):
    """
    We call the tabix command, which look at the bed file to see if the row (which are entries in the intron that we extracted) overlaps with the repeat
    regions detailed in the repeat_features.bed.gz, apart from the splice-site ({row.end-2}), we also look at the small-region that proceeds (2 nt in the exon; {row.end+2}) the splice-site.
    """
    target_sequence = row
    if len(target_sequence) < 23:
	    return 0
    result = subprocess.run(f"perl MaxEntScan/score3.pl {target_sequence}", shell=True, stdout=subprocess.PIPE, text=True)
    try:
    	score = result.stdout.strip().split("\t")[1]
    except:
        return 0
    return score

In [16]:
%%time
df_train_set["MaxEntScan_end_ss"] = df_train_set["mes_end_ss_seq"].parallel_apply(maxentscan_3)

CPU times: user 133 ms, sys: 350 ms, total: 482 ms
Wall time: 28min 31s

In [17]:
df_train_set.loc[df_train_set["mes_end_ss_seq"].str.contains("N"), "mes_end_ss_seq"] = 0
df_train_set[df_train_set["mes_end_ss_seq"].str.contains("N")]

Empty DataFrame
Columns: [mes_start_ss_seq, mes_end_ss_seq, MaxEntScan_start_ss, MaxEntScan_end_ss]
Index: []

# Output to .tsv

In [19]:
df_train_set.to_csv("data/10_trainset_MaxEntScan_feature.tsv", sep="\t", index=False)

In [20]:
!sha512sum data/10_trainset_MaxEntScan_feature.tsv

8a54df6df02ce4182ef24376d474eca02f2db2e9b521abcf75ae75577832f9a3c9474ef6100667d4de90791f99c192a02ad88e90122a56025ad38fc0daf26f65  data/10_trainset_MaxEntScan_feature.tsv