In [1]:
import pyBigWig
import pandas as pd

In [2]:
md5sum = !md5sum data/conservation_scores/hg38.phyloP100way.bw | cut -f1
assert("43858006bdf98145b6fd239490bd0478" in md5sum[0])

In [3]:
bw_phyloP = pyBigWig.open("data/conservation_scores/hg38.phyloP100way.bw")

In [4]:
df_trainset = pd.read_csv("data/04_train_set.tsv", sep="\t")

## phyloP score feature

In [5]:
def phyloP_score(row):
    stats_start = bw_phyloP.stats(row.chr, row.start, row.start+2, exact=True)[0]
    stats_start = 0 if stats_start is None else stats_start
    stats_end = bw_phyloP.stats(row.chr, row.end-2, row.end, exact=True)[0]
    stats_end = 0 if stats_end is None else stats_end
    return (stats_start + stats_end)/2

In [6]:
%%time
df_trainset["phyloP_score"] = df_trainset.apply(phyloP_score, axis=1)
df_trainset

CPU times: user 31.2 s, sys: 2.83 s, total: 34.1 s
Wall time: 34.1 s

         chr     start       end strand  class  phyloP_score
0       chr1     12227     12612      +      1       5.65175
1       chr1     12721     13220      +      1       1.40575
2       chr1     12057     12178      +      1       2.40550
3       chr1     12697     12974      +      1       5.75650
4       chr1     13052     13220      +      1       5.35750
...      ...       ...       ...    ...    ...           ...
519029  chrY  25464577  25465486      +      0       0.58700
519030  chrY  25513173  25513588      -      0       2.74250
519031  chrY  25513745  25516715      -      0      -0.89575
519032  chrY  25525288  25527646      -      0       2.41200
519033  chrY  57213357  57213855      -      0       2.04075

[519034 rows x 6 columns]

## phastCons score feature

In [7]:
bw_phastCons = pyBigWig.open("data/conservation_scores/hg38.phastCons100way.bw")

In [8]:
def phastCons_score(row):
    stats_start = bw_phastCons.stats(row.chr, row.start, row.start+2, exact=True)[0]
    stats_start = 0 if stats_start is None else stats_start
    stats_end = bw_phastCons.stats(row.chr, row.end-2, row.end, exact=True)[0]
    stats_end = 0 if stats_end is None else stats_end
    return (stats_start + stats_end)/2

In [9]:
%%time
df_trainset["phastCons_score"] = df_trainset.apply(phastCons_score, axis=1)
df_trainset

CPU times: user 24.9 s, sys: 2.39 s, total: 27.3 s
Wall time: 32.1 s

         chr     start       end strand  class  phyloP_score  phastCons_score
0       chr1     12227     12612      +      1       5.65175          1.00000
1       chr1     12721     13220      +      1       1.40575          0.50000
2       chr1     12057     12178      +      1       2.40550          0.66050
3       chr1     12697     12974      +      1       5.75650          1.00000
4       chr1     13052     13220      +      1       5.35750          1.00000
...      ...       ...       ...    ...    ...           ...              ...
519029  chrY  25464577  25465486      +      0       0.58700          0.57925
519030  chrY  25513173  25513588      -      0       2.74250          0.50000
519031  chrY  25513745  25516715      -      0      -0.89575          0.00025
519032  chrY  25525288  25527646      -      0       2.41200          0.99775
519033  chrY  57213357  57213855      -      0       2.04075          0.50450

[519034 rows x 7 columns]

In [10]:
df_trainset.to_csv("data/12_trainset_conservation_scores_feature.tsv", sep="\t", index=False)

In [12]:
!md5sum data/12_trainset_conservation_scores_feature.tsv

c78b20ffceab607b9dc9e18300bcbf88  data/12_trainset_conservation_scores_feature.tsv