In [1]:
import pandas as pd

In [2]:
df_accepted = pd.read_csv("data/1-rmv_dup_introns_gencode_v44.tsv", sep="\t")
df_accepted["class"] = 1
df_accepted

         chr     start       end strand  class
0       chr1     12227     12612      +      1
1       chr1     12721     13220      +      1
2       chr1     12057     12178      +      1
3       chr1     12697     12974      +      1
4       chr1     13052     13220      +      1
...      ...       ...       ...    ...    ...
402449  chrY  57211569  57211760      +      1
402450  chrY  57213125  57213203      -      1
402451  chrY  57213357  57213525      -      1
402452  chrY  57213602  57213879      -      1
402453  chrY  57213964  57214349      -      1

[402454 rows x 5 columns]

In [3]:
df_rejected = pd.read_csv("data/og_rejected_introns", sep="\t")
df_rejected["class"] = 0
df_rejected

      chr      start        end strand  Duplicate_Count  class
0    chr1     732207     739802      -                1      0
1    chr1    6634784    6634990      -                1      0
2    chr1    9036720    9088663      +                1      0
3    chr1    9088686    9100902      +                1      0
4    chr1   11277018   11277484      -                1      0
..    ...        ...        ...    ...              ...    ...
398  chrX  151403679  151404937      +                1      0
399  chrX  151409210  151456968      +                1      0
400  chrX  153906577  153906694      -                1      0
401  chrX  153906409  153906520      -                1      0
402  chrY   20579691   20582591      +                1      0

[403 rows x 6 columns]

In [4]:
df_merged = pd.concat([df_accepted, df_rejected])
df_merged

      chr      start        end strand  class  Duplicate_Count
0    chr1      12227      12612      +      1              NaN
1    chr1      12721      13220      +      1              NaN
2    chr1      12057      12178      +      1              NaN
3    chr1      12697      12974      +      1              NaN
4    chr1      13052      13220      +      1              NaN
..    ...        ...        ...    ...    ...              ...
398  chrX  151403679  151404937      +      0              1.0
399  chrX  151409210  151456968      +      0              1.0
400  chrX  153906577  153906694      -      0              1.0
401  chrX  153906409  153906520      -      0              1.0
402  chrY   20579691   20582591      +      0              1.0

[402857 rows x 6 columns]

In [5]:
df_merged = df_merged.drop(columns="Duplicate_Count")
df_merged.to_csv("data/merged_train_set", sep="\t", index=False)
df_merged

      chr      start        end strand  class
0    chr1      12227      12612      +      1
1    chr1      12721      13220      +      1
2    chr1      12057      12178      +      1
3    chr1      12697      12974      +      1
4    chr1      13052      13220      +      1
..    ...        ...        ...    ...    ...
398  chrX  151403679  151404937      +      0
399  chrX  151409210  151456968      +      0
400  chrX  153906577  153906694      -      0
401  chrX  153906409  153906520      -      0
402  chrY   20579691   20582591      +      0

[402857 rows x 5 columns]