In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/2.1-merged_train_set.tsv", sep="\t")
list(df["chr"].unique())

['chr1',
 'chr2',
 'chr3',
 'chr4',
 'chr5',
 'chr6',
 'chr7',
 'chr8',
 'chr9',
 'chr10',
 'chr11',
 'chr12',
 'chr13',
 'chr14',
 'chr15',
 'chr16',
 'chr17',
 'chr18',
 'chr19',
 'chr20',
 'chr21',
 'chr22',
 'chrX',
 'chrY',
 'chr11_KI270721v1_random',
 'chr14_KI270725v1_random',
 'chr14_KI270726v1_random',
 'chr15_KI270727v1_random',
 'chr16_KI270728v1_random',
 'chr1_KI270711v1_random',
 'chr22_KI270731v1_random',
 'chr22_KI270733v1_random',
 'chr22_KI270734v1_random',
 'chr1_KI270762v1_alt',
 'chr1_KI270766v1_alt',
 'chr1_GL383518v1_alt',
 'chr1_GL383519v1_alt',
 'chr1_GL383520v2_alt',
 'chr1_KI270763v1_alt',
 'chr1_KI270759v1_alt',
 'chr1_KI270761v1_alt',
 'chr2_KI270774v1_alt',
 'chr2_KI270769v1_alt',
 'chr2_GL582966v2_alt',
 'chr2_GL383522v1_alt',
 'chr2_KI270776v1_alt',
 'chr2_KI270767v1_alt',
 'chr3_JH636055v2_alt',
 'chr3_KI270777v1_alt',
 'chr3_KI270779v1_alt',
 'chr3_KI270782v1_alt',
 'chr4_GL000257v2_alt',
 'chr4_GL383527v1_alt',
 'chr5_KI270792v1_alt',
 'chr5_KI270791v1_alt',
 'chr5_GL339449v2_alt',
 'chr5_KI270795v1_alt',
 'chr6_GL000250v2_alt',
 'chr6_KI270800v1_alt',
 'chr6_KI270801v1_alt',
 'chr6_KI270797v1_alt',
 'chr6_KI270798v1_alt',
 'chr7_KI270809v1_alt',
 'chr7_KI270806v1_alt',
 'chr7_GL383534v2_alt',
 'chr7_KI270803v1_alt',
 'chr7_KI270808v1_alt',
 'chr8_KI270821v1_alt',
 'chr8_KI270813v1_alt',
 'chr8_KI270822v1_alt',
 'chr8_KI270819v1_alt',
 'chr8_KI270817v1_alt',
 'chr8_KI270816v1_alt',
 'chr8_KI270815v1_alt',
 'chr9_GL383540v1_alt',
 'chr9_KI270823v1_alt',
 'chr10_GL383546v1_alt',
 'chr10_KI270825v1_alt',
 'chr11_KI270832v1_alt',
 'chr11_KI270830v1_alt',
 'chr11_KI270831v1_alt',
 'chr11_KI270829v1_alt',
 'chr11_JH159136v1_alt',
 'chr11_JH159137v1_alt',
 'chr12_GL877875v1_alt',
 'chr12_GL877876v1_alt',
 'chr12_KI270837v1_alt',
 'chr12_KI270835v1_alt',
 'chr12_GL383550v2_alt',
 'chr12_GL383553v2_alt',
 'chr12_KI270834v1_alt',
 'chr12_KI270833v1_alt',
 'chr13_KI270838v1_alt',
 'chr14_KI270844v1_alt',
 'chr14_KI270847v1_alt',
 'chr14_KI270845v1_alt',
 'chr14_KI270846v1_alt',
 'chr15_KI270852v1_alt',
 'chr15_KI270851v1_alt',
 'chr15_KI270848v1_alt',
 'chr15_GL383554v1_alt',
 'chr15_KI270849v1_alt',
 'chr15_GL383555v2_alt',
 'chr15_KI270850v1_alt',
 'chr16_KI270854v1_alt',
 'chr16_KI270856v1_alt',
 'chr16_KI270855v1_alt',
 'chr16_KI270853v1_alt',
 'chr16_GL383556v1_alt',
 'chr16_GL383557v1_alt',
 'chr17_GL383563v3_alt',
 'chr17_KI270862v1_alt',
 'chr17_KI270861v1_alt',
 'chr17_KI270857v1_alt',
 'chr17_JH159146v1_alt',
 'chr17_JH159147v1_alt',
 'chr17_GL383564v2_alt',
 'chr17_GL000258v2_alt',
 'chr17_KI270860v1_alt',
 'chr18_GL383567v1_alt',
 'chr18_GL383571v1_alt',
 'chr18_GL383572v1_alt',
 'chr18_KI270863v1_alt',
 'chr19_KI270868v1_alt',
 'chr19_KI270865v1_alt',
 'chr19_GL383573v1_alt',
 'chr19_GL383575v2_alt',
 'chr19_GL383576v1_alt',
 'chr19_GL383574v1_alt',
 'chr19_KI270866v1_alt',
 'chr19_KI270867v1_alt',
 'chr19_GL949746v1_alt',
 'chr20_KI270869v1_alt',
 'chr20_KI270871v1_alt',
 'chr20_KI270870v1_alt',
 'chr21_KI270873v1_alt',
 'chr21_GL383580v2_alt',
 'chr21_GL383581v2_alt',
 'chr21_KI270872v1_alt',
 'chr22_KI270875v1_alt',
 'chr22_KI270878v1_alt',
 'chr22_KI270879v1_alt',
 'chr22_KI270876v1_alt',
 'chr22_KI270877v1_alt',
 'chr22_GL383583v2_alt',
 'chr22_GL383582v2_alt',
 'chrX_KI270880v1_alt',
 'chrX_KI270881v1_alt',
 'chr19_KI270882v1_alt',
 'chr19_KI270883v1_alt',
 'chr19_KI270884v1_alt',
 'chr19_KI270885v1_alt',
 'chr19_KI270886v1_alt',
 'chr19_KI270887v1_alt',
 'chr19_KI270888v1_alt',
 'chr19_KI270889v1_alt',
 'chr19_KI270890v1_alt',
 'chr19_KI270891v1_alt',
 'chr1_KI270892v1_alt',
 'chr2_KI270894v1_alt',
 'chr2_KI270893v1_alt',
 'chr3_KI270895v1_alt',
 'chr4_KI270896v1_alt',
 'chr5_KI270897v1_alt',
 'chr5_KI270898v1_alt',
 'chr6_GL000251v2_alt',
 'chr8_KI270900v1_alt',
 'chr11_KI270902v1_alt',
 'chr11_KI270903v1_alt',
 'chr12_KI270904v1_alt',
 'chr15_KI270906v1_alt',
 'chr15_KI270905v1_alt',
 'chr17_KI270907v1_alt',
 'chr17_KI270910v1_alt',
 'chr17_KI270909v1_alt',
 'chr17_KI270908v1_alt',
 'chr18_KI270911v1_alt',
 'chr19_GL949747v2_alt',
 'chr22_KB663609v1_alt',
 'chrX_KI270913v1_alt',
 'chr19_KI270914v1_alt',
 'chr19_KI270915v1_alt',
 'chr19_KI270916v1_alt',
 'chr19_KI270917v1_alt',
 'chr19_KI270918v1_alt',
 'chr19_KI270919v1_alt',
 'chr19_KI270920v1_alt',
 'chr19_KI270921v1_alt',
 'chr19_KI270922v1_alt',
 'chr19_KI270923v1_alt',
 'chr3_KI270924v1_alt',
 'chr6_GL000252v2_alt',
 'chr8_KI270926v1_alt',
 'chr11_KI270927v1_alt',
 'chr19_GL949748v2_alt',
 'chr22_KI270928v1_alt',
 'chr19_KI270929v1_alt',
 'chr19_KI270930v1_alt',
 'chr19_KI270931v1_alt',
 'chr19_KI270932v1_alt',
 'chr19_KI270933v1_alt',
 'chr19_GL000209v2_alt',
 'chr3_KI270934v1_alt',
 'chr6_GL000253v2_alt',
 'chr19_GL949749v2_alt',
 'chr3_KI270935v1_alt',
 'chr6_GL000254v2_alt',
 'chr19_GL949750v2_alt',
 'chr3_KI270936v1_alt',
 'chr6_GL000255v2_alt',
 'chr19_GL949751v2_alt',
 'chr3_KI270937v1_alt',
 'chr6_GL000256v2_alt',
 'chr19_GL949752v1_alt',
 'chr6_KI270758v1_alt',
 'chr19_GL949753v2_alt',
 'chr19_KI270938v1_alt',
 'chrUn_KI270442v1',
 'chrUn_GL000195v1',
 'chrUn_GL000219v1',
 'chrUn_GL000213v1',
 'chrUn_KI270744v1',
 'chr1_KI270713v1_random',
 'chr9_GL383539v1_alt']

In [3]:
ordinary_chr_list = ["chr"+str(x) for x in range(1,23)] + ["chrX"] + ["chrY"] + ["chrM"]

In [4]:
def simplify_chromosome_name(chromosome_name):
    return chromosome_name if chromosome_name in ordinary_chr_list else "chr_remove"

In [5]:
df["chr"] = df["chr"].apply(simplify_chromosome_name)

In [6]:
list(df["chr"].unique())

['chr1',
 'chr2',
 'chr3',
 'chr4',
 'chr5',
 'chr6',
 'chr7',
 'chr8',
 'chr9',
 'chr10',
 'chr11',
 'chr12',
 'chr13',
 'chr14',
 'chr15',
 'chr16',
 'chr17',
 'chr18',
 'chr19',
 'chr20',
 'chr21',
 'chr22',
 'chrX',
 'chrY',
 'chr_remove']

In [7]:
df[df.chr == 'chr_remove']

               chr   start     end strand  class
415770  chr_remove    2692    6093      +      0
415771  chr_remove    6216    7321      +      0
415772  chr_remove    7404    7976      +      0
415773  chr_remove    8050   11450      +      0
415774  chr_remove    8050   27738      +      0
...            ...     ...     ...    ...    ...
526818  chr_remove   78952   79222      -      0
526819  chr_remove   79344   79936      -      0
526820  chr_remove  118589  119628      -      0
526821  chr_remove  106714  107403      -      0
526822  chr_remove  138985  139097      -      0

[28775 rows x 5 columns]

In [8]:
df = df.drop(df[df['chr'] == 'chr_remove'].index)

In [9]:
assert df[df['chr'] == 'chrUn'].empty

In [10]:
df.to_csv("data/2.2-chr_renamed_train_set.tsv", sep="\t", index=False)
df

         chr     start       end strand  class
0       chr1     12227     12612      +      1
1       chr1     12721     13220      +      1
2       chr1     12057     12178      +      1
3       chr1     12697     12974      +      1
4       chr1     13052     13220      +      1
...      ...       ...       ...    ...    ...
527913  chrY  24883840  24886132      +      0
527914  chrY  24888605  24889352      +      0
527915  chrY  24889386  24901111      +      0
527916  chrY  24833970  24840730      +      0
527917  chrY  24871607  24895696      +      0

[499143 rows x 5 columns]