In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("modded_repeat_features")
df.drop(columns="intron_id", inplace=True)
df

,chrom,intron_start,intron_ends,strand,Duplicate_Count,RC3,Repeat_overlaps
0,chr1,12227,12612,+,2,['GTExv2=1122:3199;TCGAv2=583:1460;SRAv3h=9374...,[]
1,chr1,12721,13220,+,1,['GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=1404...,[]
2,chr1,12057,12178,+,1,"[None, -1]",[]
3,chr1,12697,12974,+,1,['GTExv2=1:1;TCGAv2=1:1;SRAv3h=15:19;GT:AG' 21],[]
4,chr1,13052,13220,+,1,['GTExv2=22:24;TCGAv2=17:18;SRAv3h=433:484;GC:...,[]
...,...,...,...,...,...,...,...
517017,chrY,15955,57212183,-,1,"[None, -1]","['Centromere', 'Dust', 'Low complexity regions..."
517018,chrY,57213125,57213203,-,1,"[None, -1]",[]
517019,chrY,57213357,57213525,-,1,"[None, -1]",[]
517020,chrY,57213602,57213879,-,1,"[None, -1]",[]
517021,chrY,57213964,57214349,-,1,"[None, -1]",[]

In [51]:
df['RC3'] = df['RC3'].replace("[None, -1]", "[None -1]")
df['RC3'] = df['RC3'].str.replace('[\[\]]', '')
df['RC3'] = df['RC3'].str.replace('\n', '')
df

/tmp/ipykernel_2096643/3269407476.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['RC3'] = df['RC3'].str.replace('[\[\]]', '')

,chrom,intron_start,intron_ends,strand,Duplicate_Count,RC3,Repeat_overlaps,GTExv2,TCGAv2,SRAv3h,RC3-Splice_site,RC3-Score
0,chr1,12227,12612,+,2,'GTExv2=1122:3199;TCGAv2=583:1460;SRAv3h=9374:...,[],1122:3199,583:1460,9374:54492,GT:AG,'GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=14048...
1,chr1,12721,13220,+,1,'GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=14048...,[],1791:3198,783:1104,14048:56719,GT:AG,'GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=14048...
2,chr1,12057,12178,+,1,None -1,[],NaN,NaN,NaN,NaN,'GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=14048...
3,chr1,12697,12974,+,1,'GTExv2=1:1;TCGAv2=1:1;SRAv3h=15:19;GT:AG' 21,[],1:1,1:1,15:19,GT:AG,'GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=14048...
4,chr1,13052,13220,+,1,'GTExv2=22:24;TCGAv2=17:18;SRAv3h=433:484;GC:A...,[],22:24,17:18,433:484,GC:AG,'GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=14048...
...,...,...,...,...,...,...,...,...,...,...,...,...
517017,chrY,15955,57212183,-,1,None -1,"['Centromere', 'Dust', 'Low complexity regions...",NaN,NaN,NaN,NaN,'GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=14048...
517018,chrY,57213125,57213203,-,1,None -1,[],NaN,NaN,NaN,NaN,'GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=14048...
517019,chrY,57213357,57213525,-,1,None -1,[],NaN,NaN,NaN,NaN,'GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=14048...
517020,chrY,57213602,57213879,-,1,None -1,[],NaN,NaN,NaN,NaN,'GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=14048...
517021,chrY,57213964,57214349,-,1,None -1,[],NaN,NaN,NaN,NaN,'GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=14048...

In [48]:
df["RC3"].str.split(" ").str.get(0).str.replace("'", "").str.split(";")

0         [GTExv2=1122:3199, TCGAv2=583:1460, SRAv3h=937...
1         [GTExv2=1791:3198, TCGAv2=783:1104, SRAv3h=140...
2                                                    [None]
3             [GTExv2=1:1, TCGAv2=1:1, SRAv3h=15:19, GT:AG]
4         [GTExv2=22:24, TCGAv2=17:18, SRAv3h=433:484, G...
                                ...
517017                                               [None]
517018                                               [None]
517019                                               [None]
517020                                               [None]
517021                                               [None]
Name: RC3, Length: 517022, dtype: object

In [54]:
df_featuers_split = df["RC3"].str.split(" ").str.get(0).str.replace("'", "").str.split(";")
df["GTExv2"] = df_featuers_split.str[0].str.split("=").str[1]
df["TCGAv2"] = df_featuers_split.str[1].str.split("=").str[1]
df["SRAv3h"] = df_featuers_split.str[2].str.split("=").str[1]
df["RC3-Splice_site"] = df_featuers_split.str[3]
df["RC3-Score"] = df["RC3"].str.split(" ").str.get(1)

In [55]:
df

,chrom,intron_start,intron_ends,strand,Duplicate_Count,RC3,Repeat_overlaps,GTExv2,TCGAv2,SRAv3h,RC3-Splice_site,RC3-Score
0,chr1,12227,12612,+,2,'GTExv2=1122:3199;TCGAv2=583:1460;SRAv3h=9374:...,[],1122:3199,583:1460,9374:54492,GT:AG,59151
1,chr1,12721,13220,+,1,'GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=14048...,[],1791:3198,783:1104,14048:56719,GT:AG,61021
2,chr1,12057,12178,+,1,None -1,[],NaN,NaN,NaN,NaN,-1
3,chr1,12697,12974,+,1,'GTExv2=1:1;TCGAv2=1:1;SRAv3h=15:19;GT:AG' 21,[],1:1,1:1,15:19,GT:AG,21
4,chr1,13052,13220,+,1,'GTExv2=22:24;TCGAv2=17:18;SRAv3h=433:484;GC:A...,[],22:24,17:18,433:484,GC:AG,526
...,...,...,...,...,...,...,...,...,...,...,...,...
517017,chrY,15955,57212183,-,1,None -1,"['Centromere', 'Dust', 'Low complexity regions...",NaN,NaN,NaN,NaN,-1
517018,chrY,57213125,57213203,-,1,None -1,[],NaN,NaN,NaN,NaN,-1
517019,chrY,57213357,57213525,-,1,None -1,[],NaN,NaN,NaN,NaN,-1
517020,chrY,57213602,57213879,-,1,None -1,[],NaN,NaN,NaN,NaN,-1
517021,chrY,57213964,57214349,-,1,None -1,[],NaN,NaN,NaN,NaN,-1

In [56]:
df.drop(columns="RC3", inplace=True)
df

,chrom,intron_start,intron_ends,strand,Duplicate_Count,Repeat_overlaps,GTExv2,TCGAv2,SRAv3h,RC3-Splice_site,RC3-Score
0,chr1,12227,12612,+,2,[],1122:3199,583:1460,9374:54492,GT:AG,59151
1,chr1,12721,13220,+,1,[],1791:3198,783:1104,14048:56719,GT:AG,61021
2,chr1,12057,12178,+,1,[],NaN,NaN,NaN,NaN,-1
3,chr1,12697,12974,+,1,[],1:1,1:1,15:19,GT:AG,21
4,chr1,13052,13220,+,1,[],22:24,17:18,433:484,GC:AG,526
...,...,...,...,...,...,...,...,...,...,...,...
517017,chrY,15955,57212183,-,1,"['Centromere', 'Dust', 'Low complexity regions...",NaN,NaN,NaN,NaN,-1
517018,chrY,57213125,57213203,-,1,[],NaN,NaN,NaN,NaN,-1
517019,chrY,57213357,57213525,-,1,[],NaN,NaN,NaN,NaN,-1
517020,chrY,57213602,57213879,-,1,[],NaN,NaN,NaN,NaN,-1
517021,chrY,57213964,57214349,-,1,[],NaN,NaN,NaN,NaN,-1

In [57]:
df.to_csv("Featurized_gencode_introns", index=False)