In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/3-final-output.tsv", sep="\t")
# df.drop(columns="intron_id", inplace=True)
df

,chr,start,end,strand,class,RC3,repeat_features
0,chr1,12227,12612,+,1,['GTExv2=1122:3199;TCGAv2=583:1460;SRAv3h=9374...,[]
1,chr1,12721,13220,+,1,['GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=1404...,[]
2,chr1,12057,12178,+,1,"[None, -1]",[]
3,chr1,12697,12974,+,1,['GTExv2=1:1;TCGAv2=1:1;SRAv3h=15:19;GT:AG' 21],[]
4,chr1,13052,13220,+,1,['GTExv2=22:24;TCGAv2=17:18;SRAv3h=433:484;GC:...,[]
...,...,...,...,...,...,...,...
517420,chrX,151403679,151404937,+,0,"[None, -1]","['Dust', 'Tandem repeats', 'Type I Transposons..."
517421,chrX,151409210,151456968,+,0,"[None, -1]","['Dust', 'Low complexity regions', 'LTRs', 'Si..."
517422,chrX,153906577,153906694,-,0,"[None, -1]",[]
517423,chrX,153906409,153906520,-,0,"[None, -1]",[]
517424,chrY,20579691,20582591,+,0,['GTExv2=222:238;TCGAv2=53:60;SRAv3h=961:1642;...,"['Dust', 'Simple repeats', 'Tandem repeats', '..."

In [3]:
df['RC3'] = df['RC3'].replace("[None, -1]", "[None -1]")
df['RC3'] = df['RC3'].str.replace('[\[\]]', '')
df['RC3'] = df['RC3'].str.replace('\n', '')
df

/tmp/ipykernel_2155082/3269407476.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['RC3'] = df['RC3'].str.replace('[\[\]]', '')

,chr,start,end,strand,class,RC3,repeat_features
0,chr1,12227,12612,+,1,'GTExv2=1122:3199;TCGAv2=583:1460;SRAv3h=9374:...,[]
1,chr1,12721,13220,+,1,'GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=14048...,[]
2,chr1,12057,12178,+,1,None -1,[]
3,chr1,12697,12974,+,1,'GTExv2=1:1;TCGAv2=1:1;SRAv3h=15:19;GT:AG' 21,[]
4,chr1,13052,13220,+,1,'GTExv2=22:24;TCGAv2=17:18;SRAv3h=433:484;GC:A...,[]
...,...,...,...,...,...,...,...
517420,chrX,151403679,151404937,+,0,None -1,"['Dust', 'Tandem repeats', 'Type I Transposons..."
517421,chrX,151409210,151456968,+,0,None -1,"['Dust', 'Low complexity regions', 'LTRs', 'Si..."
517422,chrX,153906577,153906694,-,0,None -1,[]
517423,chrX,153906409,153906520,-,0,None -1,[]
517424,chrY,20579691,20582591,+,0,'GTExv2=222:238;TCGAv2=53:60;SRAv3h=961:1642;G...,"['Dust', 'Simple repeats', 'Tandem repeats', '..."

In [4]:
df["RC3"].str.split(" ").str.get(0).str.replace("'", "").str.split(";")

0         [GTExv2=1122:3199, TCGAv2=583:1460, SRAv3h=937...
1         [GTExv2=1791:3198, TCGAv2=783:1104, SRAv3h=140...
2                                                    [None]
3             [GTExv2=1:1, TCGAv2=1:1, SRAv3h=15:19, GT:AG]
4         [GTExv2=22:24, TCGAv2=17:18, SRAv3h=433:484, G...
                                ...
517420                                               [None]
517421                                               [None]
517422                                               [None]
517423                                               [None]
517424    [GTExv2=222:238, TCGAv2=53:60, SRAv3h=961:1642...
Name: RC3, Length: 517425, dtype: object

In [5]:
df_featuers_split = df["RC3"].str.split(" ").str.get(0).str.replace("'", "").str.split(";")
df["GTExv2"] = df_featuers_split.str[0].str.split("=").str[1]
df["TCGAv2"] = df_featuers_split.str[1].str.split("=").str[1]
df["SRAv3h"] = df_featuers_split.str[2].str.split("=").str[1]
df["RC3-Splice_site"] = df_featuers_split.str[3]
df["RC3-Score"] = df["RC3"].str.split(" ").str.get(1)

In [6]:
df

,chr,start,end,strand,class,RC3,repeat_features,GTExv2,TCGAv2,SRAv3h,RC3-Splice_site,RC3-Score
0,chr1,12227,12612,+,1,'GTExv2=1122:3199;TCGAv2=583:1460;SRAv3h=9374:...,[],1122:3199,583:1460,9374:54492,GT:AG,59151
1,chr1,12721,13220,+,1,'GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=14048...,[],1791:3198,783:1104,14048:56719,GT:AG,61021
2,chr1,12057,12178,+,1,None -1,[],NaN,NaN,NaN,NaN,-1
3,chr1,12697,12974,+,1,'GTExv2=1:1;TCGAv2=1:1;SRAv3h=15:19;GT:AG' 21,[],1:1,1:1,15:19,GT:AG,21
4,chr1,13052,13220,+,1,'GTExv2=22:24;TCGAv2=17:18;SRAv3h=433:484;GC:A...,[],22:24,17:18,433:484,GC:AG,526
...,...,...,...,...,...,...,...,...,...,...,...,...
517420,chrX,151403679,151404937,+,0,None -1,"['Dust', 'Tandem repeats', 'Type I Transposons...",NaN,NaN,NaN,NaN,-1
517421,chrX,151409210,151456968,+,0,None -1,"['Dust', 'Low complexity regions', 'LTRs', 'Si...",NaN,NaN,NaN,NaN,-1
517422,chrX,153906577,153906694,-,0,None -1,[],NaN,NaN,NaN,NaN,-1
517423,chrX,153906409,153906520,-,0,None -1,[],NaN,NaN,NaN,NaN,-1
517424,chrY,20579691,20582591,+,0,'GTExv2=222:238;TCGAv2=53:60;SRAv3h=961:1642;G...,"['Dust', 'Simple repeats', 'Tandem repeats', '...",222:238,53:60,961:1642,GT:AG,1940

In [7]:
df = df.drop(columns="RC3")
df

,chr,start,end,strand,class,repeat_features,GTExv2,TCGAv2,SRAv3h,RC3-Splice_site,RC3-Score
0,chr1,12227,12612,+,1,[],1122:3199,583:1460,9374:54492,GT:AG,59151
1,chr1,12721,13220,+,1,[],1791:3198,783:1104,14048:56719,GT:AG,61021
2,chr1,12057,12178,+,1,[],NaN,NaN,NaN,NaN,-1
3,chr1,12697,12974,+,1,[],1:1,1:1,15:19,GT:AG,21
4,chr1,13052,13220,+,1,[],22:24,17:18,433:484,GC:AG,526
...,...,...,...,...,...,...,...,...,...,...,...
517420,chrX,151403679,151404937,+,0,"['Dust', 'Tandem repeats', 'Type I Transposons...",NaN,NaN,NaN,NaN,-1
517421,chrX,151409210,151456968,+,0,"['Dust', 'Low complexity regions', 'LTRs', 'Si...",NaN,NaN,NaN,NaN,-1
517422,chrX,153906577,153906694,-,0,[],NaN,NaN,NaN,NaN,-1
517423,chrX,153906409,153906520,-,0,[],NaN,NaN,NaN,NaN,-1
517424,chrY,20579691,20582591,+,0,"['Dust', 'Simple repeats', 'Tandem repeats', '...",222:238,53:60,961:1642,GT:AG,1940

# Populate the repeat_features into one-hots

In [8]:
import ast
df['lst_repeat_features'] = df['repeat_features'].apply(lambda x: ast.literal_eval(x) if len(x) > 2 else [])

In [9]:
unique_repeat_features_values = set()
for idx, row in df.iterrows():
    unique_repeat_features_values.update(row['lst_repeat_features'])

unique_repeat_features_values

{'Centromere',
 'Dust',
 'LTRs',
 'Low complexity regions',
 'RNA repeats',
 'Satellite repeats',
 'Simple repeats',
 'Tandem repeats',
 'Type I Transposons/LINE',
 'Type I Transposons/SINE',
 'Type II Transposons',
 'Unknown'}

In [10]:
for repeat_feature in unique_repeat_features_values:
    df["repeat_features:"+repeat_feature] = df["repeat_features"].str.contains("'"+repeat_feature+"'").astype(int)

df

,chr,start,end,strand,class,repeat_features,GTExv2,TCGAv2,SRAv3h,RC3-Splice_site,...,repeat_features:Type II Transposons,repeat_features:Unknown,repeat_features:Tandem repeats,repeat_features:Satellite repeats,repeat_features:Type I Transposons/LINE,repeat_features:RNA repeats,repeat_features:Low complexity regions,repeat_features:Centromere,repeat_features:Dust,repeat_features:Type I Transposons/SINE
0,chr1,12227,12612,+,1,[],1122:3199,583:1460,9374:54492,GT:AG,...,0,0,0,0,0,0,0,0,0,0
1,chr1,12721,13220,+,1,[],1791:3198,783:1104,14048:56719,GT:AG,...,0,0,0,0,0,0,0,0,0,0
2,chr1,12057,12178,+,1,[],NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,chr1,12697,12974,+,1,[],1:1,1:1,15:19,GT:AG,...,0,0,0,0,0,0,0,0,0,0
4,chr1,13052,13220,+,1,[],22:24,17:18,433:484,GC:AG,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517420,chrX,151403679,151404937,+,0,"['Dust', 'Tandem repeats', 'Type I Transposons...",NaN,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,1,1
517421,chrX,151409210,151456968,+,0,"['Dust', 'Low complexity regions', 'LTRs', 'Si...",NaN,NaN,NaN,NaN,...,1,1,1,0,1,0,1,0,1,1
517422,chrX,153906577,153906694,-,0,[],NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
517423,chrX,153906409,153906520,-,0,[],NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
517424,chrY,20579691,20582591,+,0,"['Dust', 'Simple repeats', 'Tandem repeats', '...",222:238,53:60,961:1642,GT:AG,...,0,0,1,0,1,0,0,0,1,1

# Now we drop all redundant columns

In [11]:
df = df.drop(columns=["repeat_features", "lst_repeat_features"])
df

,chr,start,end,strand,class,GTExv2,TCGAv2,SRAv3h,RC3-Splice_site,RC3-Score,...,repeat_features:Type II Transposons,repeat_features:Unknown,repeat_features:Tandem repeats,repeat_features:Satellite repeats,repeat_features:Type I Transposons/LINE,repeat_features:RNA repeats,repeat_features:Low complexity regions,repeat_features:Centromere,repeat_features:Dust,repeat_features:Type I Transposons/SINE
0,chr1,12227,12612,+,1,1122:3199,583:1460,9374:54492,GT:AG,59151,...,0,0,0,0,0,0,0,0,0,0
1,chr1,12721,13220,+,1,1791:3198,783:1104,14048:56719,GT:AG,61021,...,0,0,0,0,0,0,0,0,0,0
2,chr1,12057,12178,+,1,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,0,0
3,chr1,12697,12974,+,1,1:1,1:1,15:19,GT:AG,21,...,0,0,0,0,0,0,0,0,0,0
4,chr1,13052,13220,+,1,22:24,17:18,433:484,GC:AG,526,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517420,chrX,151403679,151404937,+,0,NaN,NaN,NaN,NaN,-1,...,0,0,1,0,0,0,0,0,1,1
517421,chrX,151409210,151456968,+,0,NaN,NaN,NaN,NaN,-1,...,1,1,1,0,1,0,1,0,1,1
517422,chrX,153906577,153906694,-,0,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,0,0
517423,chrX,153906409,153906520,-,0,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,0,0
517424,chrY,20579691,20582591,+,0,222:238,53:60,961:1642,GT:AG,1940,...,0,0,1,0,1,0,0,0,1,1

In [12]:
df[df["class"] == 0]

,chr,start,end,strand,class,GTExv2,TCGAv2,SRAv3h,RC3-Splice_site,RC3-Score,...,repeat_features:Type II Transposons,repeat_features:Unknown,repeat_features:Tandem repeats,repeat_features:Satellite repeats,repeat_features:Type I Transposons/LINE,repeat_features:RNA repeats,repeat_features:Low complexity regions,repeat_features:Centromere,repeat_features:Dust,repeat_features:Type I Transposons/SINE
517022,chr1,732207,739802,-,0,18978:968117,10476:171758,144636:3092431,GT:AG,4232306,...,1,0,0,0,1,0,0,0,1,1
517023,chr1,6634784,6634990,-,0,1:1,41:47,23:85,GT:AG,133,...,0,0,0,0,0,0,0,0,0,0
517024,chr1,9036720,9088663,+,0,NaN,NaN,NaN,NaN,-1,...,1,0,1,0,1,0,1,0,1,1
517025,chr1,9088686,9100902,+,0,NaN,NaN,NaN,NaN,-1,...,1,0,1,0,0,0,1,0,1,1
517026,chr1,11277018,11277484,-,0,NaN,NaN,NaN,NaN,-1,...,0,0,1,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517420,chrX,151403679,151404937,+,0,NaN,NaN,NaN,NaN,-1,...,0,0,1,0,0,0,0,0,1,1
517421,chrX,151409210,151456968,+,0,NaN,NaN,NaN,NaN,-1,...,1,1,1,0,1,0,1,0,1,1
517422,chrX,153906577,153906694,-,0,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,0,0
517423,chrX,153906409,153906520,-,0,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,0,0
517424,chrY,20579691,20582591,+,0,222:238,53:60,961:1642,GT:AG,1940,...,0,0,1,0,1,0,0,0,1,1

In [13]:
df.to_csv("data/4-featurized_introns_data.tsv", sep="\t", index=False)