In [1]:
import pandas as pd
import ast

In [2]:
df = pd.read_csv("data/3-final-output.tsv", sep="\t")
# df.drop(columns="intron_id", inplace=True)
df

,chr,start,end,strand,class,RC3,repeat_features_start_site,repeat_features_end_site
0,chr1,12227,12612,+,1,['GTExv2=1122:3199;TCGAv2=583:1460;SRAv3h=9374...,[],[]
1,chr1,12721,13220,+,1,['GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=1404...,[],[]
2,chr1,12057,12178,+,1,"[None, -1]",[],[]
3,chr1,12697,12974,+,1,['GTExv2=1:1;TCGAv2=1:1;SRAv3h=15:19;GT:AG' 21],[],[]
4,chr1,13052,13220,+,1,['GTExv2=22:24;TCGAv2=17:18;SRAv3h=433:484;GC:...,[],[]
...,...,...,...,...,...,...,...,...
449562,chrY,25986748,25987810,+,0,['GTExv2=297:602;TCGAv2=93:135;SRAv3h=708:1741...,['Type I Transposons/LINE'],[]
449563,chrY,26335719,26337372,-,0,"[None, -1]",[],[]
449564,chrY,26337521,26354287,-,0,['GTExv2=2:3;TCGAv2=0:0;SRAv3h=64:89;GT:AG' 92],[],[]
449565,chrY,56954656,56960285,+,0,"[None, -1]",[],[]
449566,chrY,57210792,57211557,+,0,"[None, -1]",[],[]

In [3]:
df['RC3'] = df['RC3'].replace("[None, -1]", "[None -1]")
df['RC3'] = df['RC3'].str.replace('[\[\]]', '')
df['RC3'] = df['RC3'].str.replace('\n', '')
df

/tmp/ipykernel_2774922/3269407476.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['RC3'] = df['RC3'].str.replace('[\[\]]', '')

,chr,start,end,strand,class,RC3,repeat_features_start_site,repeat_features_end_site
0,chr1,12227,12612,+,1,'GTExv2=1122:3199;TCGAv2=583:1460;SRAv3h=9374:...,[],[]
1,chr1,12721,13220,+,1,'GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=14048...,[],[]
2,chr1,12057,12178,+,1,None -1,[],[]
3,chr1,12697,12974,+,1,'GTExv2=1:1;TCGAv2=1:1;SRAv3h=15:19;GT:AG' 21,[],[]
4,chr1,13052,13220,+,1,'GTExv2=22:24;TCGAv2=17:18;SRAv3h=433:484;GC:A...,[],[]
...,...,...,...,...,...,...,...,...
449562,chrY,25986748,25987810,+,0,'GTExv2=297:602;TCGAv2=93:135;SRAv3h=708:1741;...,['Type I Transposons/LINE'],[]
449563,chrY,26335719,26337372,-,0,None -1,[],[]
449564,chrY,26337521,26354287,-,0,'GTExv2=2:3;TCGAv2=0:0;SRAv3h=64:89;GT:AG' 92,[],[]
449565,chrY,56954656,56960285,+,0,None -1,[],[]
449566,chrY,57210792,57211557,+,0,None -1,[],[]

In [4]:
df["RC3"].str.split(" ").str.get(0).str.replace("'", "").str.split(";")

0         [GTExv2=1122:3199, TCGAv2=583:1460, SRAv3h=937...
1         [GTExv2=1791:3198, TCGAv2=783:1104, SRAv3h=140...
2                                                    [None]
3             [GTExv2=1:1, TCGAv2=1:1, SRAv3h=15:19, GT:AG]
4         [GTExv2=22:24, TCGAv2=17:18, SRAv3h=433:484, G...
                                ...
449562    [GTExv2=297:602, TCGAv2=93:135, SRAv3h=708:174...
449563                                               [None]
449564        [GTExv2=2:3, TCGAv2=0:0, SRAv3h=64:89, GT:AG]
449565                                               [None]
449566                                               [None]
Name: RC3, Length: 449567, dtype: object

In [5]:
df_featuers_split = df["RC3"].str.split(" ").str.get(0).str.replace("'", "").str.split(";")
df["GTExv2"] = df_featuers_split.str[0].str.split("=").str[1]
df["TCGAv2"] = df_featuers_split.str[1].str.split("=").str[1]
df["SRAv3h"] = df_featuers_split.str[2].str.split("=").str[1]
df["RC3-Splice_site"] = df_featuers_split.str[3]
df["RC3-Score"] = df["RC3"].str.split(" ").str.get(1)

In [6]:
df

,chr,start,end,strand,class,RC3,repeat_features_start_site,repeat_features_end_site,GTExv2,TCGAv2,SRAv3h,RC3-Splice_site,RC3-Score
0,chr1,12227,12612,+,1,'GTExv2=1122:3199;TCGAv2=583:1460;SRAv3h=9374:...,[],[],1122:3199,583:1460,9374:54492,GT:AG,59151
1,chr1,12721,13220,+,1,'GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=14048...,[],[],1791:3198,783:1104,14048:56719,GT:AG,61021
2,chr1,12057,12178,+,1,None -1,[],[],NaN,NaN,NaN,NaN,-1
3,chr1,12697,12974,+,1,'GTExv2=1:1;TCGAv2=1:1;SRAv3h=15:19;GT:AG' 21,[],[],1:1,1:1,15:19,GT:AG,21
4,chr1,13052,13220,+,1,'GTExv2=22:24;TCGAv2=17:18;SRAv3h=433:484;GC:A...,[],[],22:24,17:18,433:484,GC:AG,526
...,...,...,...,...,...,...,...,...,...,...,...,...,...
449562,chrY,25986748,25987810,+,0,'GTExv2=297:602;TCGAv2=93:135;SRAv3h=708:1741;...,['Type I Transposons/LINE'],[],297:602,93:135,708:1741,GT:AG,2478
449563,chrY,26335719,26337372,-,0,None -1,[],[],NaN,NaN,NaN,NaN,-1
449564,chrY,26337521,26354287,-,0,'GTExv2=2:3;TCGAv2=0:0;SRAv3h=64:89;GT:AG' 92,[],[],2:3,0:0,64:89,GT:AG,92
449565,chrY,56954656,56960285,+,0,None -1,[],[],NaN,NaN,NaN,NaN,-1
449566,chrY,57210792,57211557,+,0,None -1,[],[],NaN,NaN,NaN,NaN,-1

In [7]:
df = df.drop(columns="RC3")
df

,chr,start,end,strand,class,repeat_features_start_site,repeat_features_end_site,GTExv2,TCGAv2,SRAv3h,RC3-Splice_site,RC3-Score
0,chr1,12227,12612,+,1,[],[],1122:3199,583:1460,9374:54492,GT:AG,59151
1,chr1,12721,13220,+,1,[],[],1791:3198,783:1104,14048:56719,GT:AG,61021
2,chr1,12057,12178,+,1,[],[],NaN,NaN,NaN,NaN,-1
3,chr1,12697,12974,+,1,[],[],1:1,1:1,15:19,GT:AG,21
4,chr1,13052,13220,+,1,[],[],22:24,17:18,433:484,GC:AG,526
...,...,...,...,...,...,...,...,...,...,...,...,...
449562,chrY,25986748,25987810,+,0,['Type I Transposons/LINE'],[],297:602,93:135,708:1741,GT:AG,2478
449563,chrY,26335719,26337372,-,0,[],[],NaN,NaN,NaN,NaN,-1
449564,chrY,26337521,26354287,-,0,[],[],2:3,0:0,64:89,GT:AG,92
449565,chrY,56954656,56960285,+,0,[],[],NaN,NaN,NaN,NaN,-1
449566,chrY,57210792,57211557,+,0,[],[],NaN,NaN,NaN,NaN,-1

# Populate the repeat_features into one-hots

In [8]:
df['lst_repeat_features_start_site'] = df['repeat_features_start_site'].apply(lambda x: ast.literal_eval(x) if len(x) > 2 else [])
df['lst_repeat_features_end_site'] = df['repeat_features_end_site'].apply(lambda x: ast.literal_eval(x) if len(x) > 2 else [])
df

,chr,start,end,strand,class,repeat_features_start_site,repeat_features_end_site,GTExv2,TCGAv2,SRAv3h,RC3-Splice_site,RC3-Score,lst_repeat_features_start_site,lst_repeat_features_end_site
0,chr1,12227,12612,+,1,[],[],1122:3199,583:1460,9374:54492,GT:AG,59151,[],[]
1,chr1,12721,13220,+,1,[],[],1791:3198,783:1104,14048:56719,GT:AG,61021,[],[]
2,chr1,12057,12178,+,1,[],[],NaN,NaN,NaN,NaN,-1,[],[]
3,chr1,12697,12974,+,1,[],[],1:1,1:1,15:19,GT:AG,21,[],[]
4,chr1,13052,13220,+,1,[],[],22:24,17:18,433:484,GC:AG,526,[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449562,chrY,25986748,25987810,+,0,['Type I Transposons/LINE'],[],297:602,93:135,708:1741,GT:AG,2478,[Type I Transposons/LINE],[]
449563,chrY,26335719,26337372,-,0,[],[],NaN,NaN,NaN,NaN,-1,[],[]
449564,chrY,26337521,26354287,-,0,[],[],2:3,0:0,64:89,GT:AG,92,[],[]
449565,chrY,56954656,56960285,+,0,[],[],NaN,NaN,NaN,NaN,-1,[],[]
449566,chrY,57210792,57211557,+,0,[],[],NaN,NaN,NaN,NaN,-1,[],[]

In [9]:
unique_repeat_features_values_start_site = set()
unique_repeat_features_values_end_site = set()
for idx, row in df.iterrows():
    unique_repeat_features_values_start_site.update(row['lst_repeat_features_start_site'])
    unique_repeat_features_values_end_site.update(row['lst_repeat_features_end_site'])

unique_repeat_features_values_start_site

{'Centromere',
 'Dust',
 'LTRs',
 'Low complexity regions',
 'RNA repeats',
 'Satellite repeats',
 'Simple repeats',
 'Tandem repeats',
 'Type I Transposons/LINE',
 'Type I Transposons/SINE',
 'Type II Transposons',
 'Unknown'}

In [10]:
unique_repeat_features_values_end_site

{'Centromere',
 'Dust',
 'LTRs',
 'Low complexity regions',
 'RNA repeats',
 'Satellite repeats',
 'Simple repeats',
 'Tandem repeats',
 'Type I Transposons/LINE',
 'Type I Transposons/SINE',
 'Type II Transposons',
 'Unknown'}

In [11]:
for repeat_feature in unique_repeat_features_values_start_site:
    df["repeat_features_start_site:"+repeat_feature] = df["repeat_features_start_site"].str.count("'"+repeat_feature+"'").astype(int)


for repeat_feature in unique_repeat_features_values_start_site:
    df["repeat_features_end_site:"+repeat_feature] = df["repeat_features_end_site"].str.count("'"+repeat_feature+"'").astype(int)
df

,chr,start,end,strand,class,repeat_features_start_site,repeat_features_end_site,GTExv2,TCGAv2,SRAv3h,...,repeat_features_end_site:Tandem repeats,repeat_features_end_site:Simple repeats,repeat_features_end_site:Centromere,repeat_features_end_site:RNA repeats,repeat_features_end_site:Unknown,repeat_features_end_site:Type I Transposons/LINE,repeat_features_end_site:Type II Transposons,repeat_features_end_site:Low complexity regions,repeat_features_end_site:LTRs,repeat_features_end_site:Type I Transposons/SINE
0,chr1,12227,12612,+,1,[],[],1122:3199,583:1460,9374:54492,...,0,0,0,0,0,0,0,0,0,0
1,chr1,12721,13220,+,1,[],[],1791:3198,783:1104,14048:56719,...,0,0,0,0,0,0,0,0,0,0
2,chr1,12057,12178,+,1,[],[],NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,chr1,12697,12974,+,1,[],[],1:1,1:1,15:19,...,0,0,0,0,0,0,0,0,0,0
4,chr1,13052,13220,+,1,[],[],22:24,17:18,433:484,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449562,chrY,25986748,25987810,+,0,['Type I Transposons/LINE'],[],297:602,93:135,708:1741,...,0,0,0,0,0,0,0,0,0,0
449563,chrY,26335719,26337372,-,0,[],[],NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
449564,chrY,26337521,26354287,-,0,[],[],2:3,0:0,64:89,...,0,0,0,0,0,0,0,0,0,0
449565,chrY,56954656,56960285,+,0,[],[],NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
449566,chrY,57210792,57211557,+,0,[],[],NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

# Now we drop all redundant columns

In [12]:
df = df.drop(columns=["repeat_features_start_site", "repeat_features_end_site", "lst_repeat_features_start_site", "lst_repeat_features_end_site"])
df

,chr,start,end,strand,class,GTExv2,TCGAv2,SRAv3h,RC3-Splice_site,RC3-Score,...,repeat_features_end_site:Tandem repeats,repeat_features_end_site:Simple repeats,repeat_features_end_site:Centromere,repeat_features_end_site:RNA repeats,repeat_features_end_site:Unknown,repeat_features_end_site:Type I Transposons/LINE,repeat_features_end_site:Type II Transposons,repeat_features_end_site:Low complexity regions,repeat_features_end_site:LTRs,repeat_features_end_site:Type I Transposons/SINE
0,chr1,12227,12612,+,1,1122:3199,583:1460,9374:54492,GT:AG,59151,...,0,0,0,0,0,0,0,0,0,0
1,chr1,12721,13220,+,1,1791:3198,783:1104,14048:56719,GT:AG,61021,...,0,0,0,0,0,0,0,0,0,0
2,chr1,12057,12178,+,1,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,0,0
3,chr1,12697,12974,+,1,1:1,1:1,15:19,GT:AG,21,...,0,0,0,0,0,0,0,0,0,0
4,chr1,13052,13220,+,1,22:24,17:18,433:484,GC:AG,526,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449562,chrY,25986748,25987810,+,0,297:602,93:135,708:1741,GT:AG,2478,...,0,0,0,0,0,0,0,0,0,0
449563,chrY,26335719,26337372,-,0,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,0,0
449564,chrY,26337521,26354287,-,0,2:3,0:0,64:89,GT:AG,92,...,0,0,0,0,0,0,0,0,0,0
449565,chrY,56954656,56960285,+,0,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,0,0
449566,chrY,57210792,57211557,+,0,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df[df["class"] == 0]

,chr,start,end,strand,class,GTExv2,TCGAv2,SRAv3h,RC3-Splice_site,RC3-Score,...,repeat_features_end_site:Tandem repeats,repeat_features_end_site:Simple repeats,repeat_features_end_site:Centromere,repeat_features_end_site:RNA repeats,repeat_features_end_site:Unknown,repeat_features_end_site:Type I Transposons/LINE,repeat_features_end_site:Type II Transposons,repeat_features_end_site:Low complexity regions,repeat_features_end_site:LTRs,repeat_features_end_site:Type I Transposons/SINE
402454,chr1,732207,739802,-,0,18978:968117,10476:171758,144636:3092431,GT:AG,4232306,...,0,0,0,0,0,0,0,0,0,0
402455,chr1,6634784,6634990,-,0,1:1,41:47,23:85,GT:AG,133,...,0,0,0,0,0,0,0,0,0,0
402456,chr1,9036720,9088663,+,0,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,0,1
402457,chr1,9088686,9100902,+,0,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,0,1
402458,chr1,11277018,11277484,-,0,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449562,chrY,25986748,25987810,+,0,297:602,93:135,708:1741,GT:AG,2478,...,0,0,0,0,0,0,0,0,0,0
449563,chrY,26335719,26337372,-,0,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,0,0
449564,chrY,26337521,26354287,-,0,2:3,0:0,64:89,GT:AG,92,...,0,0,0,0,0,0,0,0,0,0
449565,chrY,56954656,56960285,+,0,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,0,0
449566,chrY,57210792,57211557,+,0,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df_splice_site_split = df["RC3-Splice_site"].str.split(":")
df["RC3 - Acceptor splice site"] = df_splice_site_split.str[0]
df["RC3 - Donor splice site"] = df_splice_site_split.str[1]
df

,chr,start,end,strand,class,GTExv2,TCGAv2,SRAv3h,RC3-Splice_site,RC3-Score,...,repeat_features_end_site:Centromere,repeat_features_end_site:RNA repeats,repeat_features_end_site:Unknown,repeat_features_end_site:Type I Transposons/LINE,repeat_features_end_site:Type II Transposons,repeat_features_end_site:Low complexity regions,repeat_features_end_site:LTRs,repeat_features_end_site:Type I Transposons/SINE,RC3 - Acceptor splice site,RC3 - Donor splice site
0,chr1,12227,12612,+,1,1122:3199,583:1460,9374:54492,GT:AG,59151,...,0,0,0,0,0,0,0,0,GT,AG
1,chr1,12721,13220,+,1,1791:3198,783:1104,14048:56719,GT:AG,61021,...,0,0,0,0,0,0,0,0,GT,AG
2,chr1,12057,12178,+,1,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,NaN,NaN
3,chr1,12697,12974,+,1,1:1,1:1,15:19,GT:AG,21,...,0,0,0,0,0,0,0,0,GT,AG
4,chr1,13052,13220,+,1,22:24,17:18,433:484,GC:AG,526,...,0,0,0,0,0,0,0,0,GC,AG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449562,chrY,25986748,25987810,+,0,297:602,93:135,708:1741,GT:AG,2478,...,0,0,0,0,0,0,0,0,GT,AG
449563,chrY,26335719,26337372,-,0,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,NaN,NaN
449564,chrY,26337521,26354287,-,0,2:3,0:0,64:89,GT:AG,92,...,0,0,0,0,0,0,0,0,GT,AG
449565,chrY,56954656,56960285,+,0,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,NaN,NaN
449566,chrY,57210792,57211557,+,0,NaN,NaN,NaN,NaN,-1,...,0,0,0,0,0,0,0,0,NaN,NaN

In [15]:
df.to_csv("data/4-featurized_introns_data.tsv", sep="\t", index=False)