In [1]:
import pandas as pd
import ast

In [2]:
df = pd.read_csv("data/3_all_features.tsv", sep="\t")
# df.drop(columns="intron_id", inplace=True)
df

,chr,start,end,strand,class,RC3,repeat_features_start_site,repeat_features_end_site,ss_antisense_start_site,ss_antisense_end_site
0,chr1,12227,12612,+,1,['GTExv2=1122:3199;TCGAv2=583:1460;SRAv3h=9374...,[],[],False,False
1,chr1,12721,13220,+,1,['GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=1404...,[],[],False,False
2,chr1,12057,12178,+,1,"[None, -1]",[],[],False,False
3,chr1,12697,12974,+,1,['GTExv2=1:1;TCGAv2=1:1;SRAv3h=15:19;GT:AG' 21],[],[],False,False
4,chr1,13052,13220,+,1,['GTExv2=22:24;TCGAv2=17:18;SRAv3h=433:484;GC:...,[],[],False,False
...,...,...,...,...,...,...,...,...,...,...
527913,chrY,24883840,24886132,+,0,"[None, -1]",[],[],False,False
527914,chrY,24888605,24889352,+,0,"[None, -1]",[],[],False,False
527915,chrY,24889386,24901111,+,0,"[None, -1]",[],[],False,False
527916,chrY,24833970,24840730,+,0,"[None, -1]",[],[],False,False
527917,chrY,24871607,24895696,+,0,"[None, -1]",[],[],False,False

In [3]:
df['RC3'] = df['RC3'].replace("[None, -1]", "[None -1]")
df['RC3'] = df['RC3'].str.replace('[\[\]]', '')
df['RC3'] = df['RC3'].str.replace('\n', '')
df

/tmp/ipykernel_3509065/3269407476.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['RC3'] = df['RC3'].str.replace('[\[\]]', '')

,chr,start,end,strand,class,RC3,repeat_features_start_site,repeat_features_end_site,ss_antisense_start_site,ss_antisense_end_site
0,chr1,12227,12612,+,1,'GTExv2=1122:3199;TCGAv2=583:1460;SRAv3h=9374:...,[],[],False,False
1,chr1,12721,13220,+,1,'GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=14048...,[],[],False,False
2,chr1,12057,12178,+,1,None -1,[],[],False,False
3,chr1,12697,12974,+,1,'GTExv2=1:1;TCGAv2=1:1;SRAv3h=15:19;GT:AG' 21,[],[],False,False
4,chr1,13052,13220,+,1,'GTExv2=22:24;TCGAv2=17:18;SRAv3h=433:484;GC:A...,[],[],False,False
...,...,...,...,...,...,...,...,...,...,...
527913,chrY,24883840,24886132,+,0,None -1,[],[],False,False
527914,chrY,24888605,24889352,+,0,None -1,[],[],False,False
527915,chrY,24889386,24901111,+,0,None -1,[],[],False,False
527916,chrY,24833970,24840730,+,0,None -1,[],[],False,False
527917,chrY,24871607,24895696,+,0,None -1,[],[],False,False

In [4]:
df["RC3"].str.split(" ").str.get(0).str.replace("'", "").str.split(";")

0         [GTExv2=1122:3199, TCGAv2=583:1460, SRAv3h=937...
1         [GTExv2=1791:3198, TCGAv2=783:1104, SRAv3h=140...
2                                                    [None]
3             [GTExv2=1:1, TCGAv2=1:1, SRAv3h=15:19, GT:AG]
4         [GTExv2=22:24, TCGAv2=17:18, SRAv3h=433:484, G...
                                ...
527913                                               [None]
527914                                               [None]
527915                                               [None]
527916                                               [None]
527917                                               [None]
Name: RC3, Length: 527918, dtype: object

In [5]:
df_featuers_split = df["RC3"].str.split(" ").str.get(0).str.replace("'", "").str.split(";")
df["GTExv2"] = df_featuers_split.str[0].str.split("=").str[1]
df["TCGAv2"] = df_featuers_split.str[1].str.split("=").str[1]
df["SRAv3h"] = df_featuers_split.str[2].str.split("=").str[1]
df["RC3-Splice_site"] = df_featuers_split.str[3]
df["RC3-Score"] = df["RC3"].str.split(" ").str.get(1)

In [6]:
df

,chr,start,end,strand,class,RC3,repeat_features_start_site,repeat_features_end_site,ss_antisense_start_site,ss_antisense_end_site,GTExv2,TCGAv2,SRAv3h,RC3-Splice_site,RC3-Score
0,chr1,12227,12612,+,1,'GTExv2=1122:3199;TCGAv2=583:1460;SRAv3h=9374:...,[],[],False,False,1122:3199,583:1460,9374:54492,GT:AG,59151
1,chr1,12721,13220,+,1,'GTExv2=1791:3198;TCGAv2=783:1104;SRAv3h=14048...,[],[],False,False,1791:3198,783:1104,14048:56719,GT:AG,61021
2,chr1,12057,12178,+,1,None -1,[],[],False,False,NaN,NaN,NaN,NaN,-1
3,chr1,12697,12974,+,1,'GTExv2=1:1;TCGAv2=1:1;SRAv3h=15:19;GT:AG' 21,[],[],False,False,1:1,1:1,15:19,GT:AG,21
4,chr1,13052,13220,+,1,'GTExv2=22:24;TCGAv2=17:18;SRAv3h=433:484;GC:A...,[],[],False,False,22:24,17:18,433:484,GC:AG,526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527913,chrY,24883840,24886132,+,0,None -1,[],[],False,False,NaN,NaN,NaN,NaN,-1
527914,chrY,24888605,24889352,+,0,None -1,[],[],False,False,NaN,NaN,NaN,NaN,-1
527915,chrY,24889386,24901111,+,0,None -1,[],[],False,False,NaN,NaN,NaN,NaN,-1
527916,chrY,24833970,24840730,+,0,None -1,[],[],False,False,NaN,NaN,NaN,NaN,-1
527917,chrY,24871607,24895696,+,0,None -1,[],[],False,False,NaN,NaN,NaN,NaN,-1

In [7]:
df = df.drop(columns="RC3")
df

,chr,start,end,strand,class,repeat_features_start_site,repeat_features_end_site,ss_antisense_start_site,ss_antisense_end_site,GTExv2,TCGAv2,SRAv3h,RC3-Splice_site,RC3-Score
0,chr1,12227,12612,+,1,[],[],False,False,1122:3199,583:1460,9374:54492,GT:AG,59151
1,chr1,12721,13220,+,1,[],[],False,False,1791:3198,783:1104,14048:56719,GT:AG,61021
2,chr1,12057,12178,+,1,[],[],False,False,NaN,NaN,NaN,NaN,-1
3,chr1,12697,12974,+,1,[],[],False,False,1:1,1:1,15:19,GT:AG,21
4,chr1,13052,13220,+,1,[],[],False,False,22:24,17:18,433:484,GC:AG,526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527913,chrY,24883840,24886132,+,0,[],[],False,False,NaN,NaN,NaN,NaN,-1
527914,chrY,24888605,24889352,+,0,[],[],False,False,NaN,NaN,NaN,NaN,-1
527915,chrY,24889386,24901111,+,0,[],[],False,False,NaN,NaN,NaN,NaN,-1
527916,chrY,24833970,24840730,+,0,[],[],False,False,NaN,NaN,NaN,NaN,-1
527917,chrY,24871607,24895696,+,0,[],[],False,False,NaN,NaN,NaN,NaN,-1

# Populate the repeat_features into one-hots

In [8]:
df['lst_repeat_features_start_site'] = df['repeat_features_start_site'].apply(lambda x: ast.literal_eval(x) if len(x) > 2 else [])
df['lst_repeat_features_end_site'] = df['repeat_features_end_site'].apply(lambda x: ast.literal_eval(x) if len(x) > 2 else [])
df

,chr,start,end,strand,class,repeat_features_start_site,repeat_features_end_site,ss_antisense_start_site,ss_antisense_end_site,GTExv2,TCGAv2,SRAv3h,RC3-Splice_site,RC3-Score,lst_repeat_features_start_site,lst_repeat_features_end_site
0,chr1,12227,12612,+,1,[],[],False,False,1122:3199,583:1460,9374:54492,GT:AG,59151,[],[]
1,chr1,12721,13220,+,1,[],[],False,False,1791:3198,783:1104,14048:56719,GT:AG,61021,[],[]
2,chr1,12057,12178,+,1,[],[],False,False,NaN,NaN,NaN,NaN,-1,[],[]
3,chr1,12697,12974,+,1,[],[],False,False,1:1,1:1,15:19,GT:AG,21,[],[]
4,chr1,13052,13220,+,1,[],[],False,False,22:24,17:18,433:484,GC:AG,526,[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527913,chrY,24883840,24886132,+,0,[],[],False,False,NaN,NaN,NaN,NaN,-1,[],[]
527914,chrY,24888605,24889352,+,0,[],[],False,False,NaN,NaN,NaN,NaN,-1,[],[]
527915,chrY,24889386,24901111,+,0,[],[],False,False,NaN,NaN,NaN,NaN,-1,[],[]
527916,chrY,24833970,24840730,+,0,[],[],False,False,NaN,NaN,NaN,NaN,-1,[],[]
527917,chrY,24871607,24895696,+,0,[],[],False,False,NaN,NaN,NaN,NaN,-1,[],[]

In [9]:
unique_repeat_features_values_start_site = set()
unique_repeat_features_values_end_site = set()
for idx, row in df.iterrows():
    unique_repeat_features_values_start_site.update(row['lst_repeat_features_start_site'])
    unique_repeat_features_values_end_site.update(row['lst_repeat_features_end_site'])

unique_repeat_features_values_start_site

{'Centromere',
 'Dust',
 'LTRs',
 'Low complexity regions',
 'RNA repeats',
 'Satellite repeats',
 'Simple repeats',
 'Tandem repeats',
 'Type I Transposons/LINE',
 'Type I Transposons/SINE',
 'Type II Transposons',
 'Unknown'}

In [10]:
unique_repeat_features_values_end_site

{'Centromere',
 'Dust',
 'LTRs',
 'Low complexity regions',
 'RNA repeats',
 'Satellite repeats',
 'Simple repeats',
 'Tandem repeats',
 'Type I Transposons/LINE',
 'Type I Transposons/SINE',
 'Type II Transposons',
 'Unknown'}

In [11]:
for repeat_feature in unique_repeat_features_values_start_site:
    df["repeat_features_start_site:"+repeat_feature] = df["repeat_features_start_site"].str.count("'"+repeat_feature+"'").astype(int)


for repeat_feature in unique_repeat_features_values_start_site:
    df["repeat_features_end_site:"+repeat_feature] = df["repeat_features_end_site"].str.count("'"+repeat_feature+"'").astype(int)
df

,chr,start,end,strand,class,repeat_features_start_site,repeat_features_end_site,ss_antisense_start_site,ss_antisense_end_site,GTExv2,...,repeat_features_end_site:Type I Transposons/SINE,repeat_features_end_site:Simple repeats,repeat_features_end_site:Type I Transposons/LINE,repeat_features_end_site:LTRs,repeat_features_end_site:Dust,repeat_features_end_site:Unknown,repeat_features_end_site:RNA repeats,repeat_features_end_site:Satellite repeats,repeat_features_end_site:Tandem repeats,repeat_features_end_site:Low complexity regions
0,chr1,12227,12612,+,1,[],[],False,False,1122:3199,...,0,0,0,0,0,0,0,0,0,0
1,chr1,12721,13220,+,1,[],[],False,False,1791:3198,...,0,0,0,0,0,0,0,0,0,0
2,chr1,12057,12178,+,1,[],[],False,False,NaN,...,0,0,0,0,0,0,0,0,0,0
3,chr1,12697,12974,+,1,[],[],False,False,1:1,...,0,0,0,0,0,0,0,0,0,0
4,chr1,13052,13220,+,1,[],[],False,False,22:24,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527913,chrY,24883840,24886132,+,0,[],[],False,False,NaN,...,0,0,0,0,0,0,0,0,0,0
527914,chrY,24888605,24889352,+,0,[],[],False,False,NaN,...,0,0,0,0,0,0,0,0,0,0
527915,chrY,24889386,24901111,+,0,[],[],False,False,NaN,...,0,0,0,0,0,0,0,0,0,0
527916,chrY,24833970,24840730,+,0,[],[],False,False,NaN,...,0,0,0,0,0,0,0,0,0,0
527917,chrY,24871607,24895696,+,0,[],[],False,False,NaN,...,0,0,0,0,0,0,0,0,0,0

# Now we drop all redundant columns

In [12]:
df = df.drop(columns=["repeat_features_start_site", "repeat_features_end_site", "lst_repeat_features_start_site", "lst_repeat_features_end_site"])
df

,chr,start,end,strand,class,ss_antisense_start_site,ss_antisense_end_site,GTExv2,TCGAv2,SRAv3h,...,repeat_features_end_site:Type I Transposons/SINE,repeat_features_end_site:Simple repeats,repeat_features_end_site:Type I Transposons/LINE,repeat_features_end_site:LTRs,repeat_features_end_site:Dust,repeat_features_end_site:Unknown,repeat_features_end_site:RNA repeats,repeat_features_end_site:Satellite repeats,repeat_features_end_site:Tandem repeats,repeat_features_end_site:Low complexity regions
0,chr1,12227,12612,+,1,False,False,1122:3199,583:1460,9374:54492,...,0,0,0,0,0,0,0,0,0,0
1,chr1,12721,13220,+,1,False,False,1791:3198,783:1104,14048:56719,...,0,0,0,0,0,0,0,0,0,0
2,chr1,12057,12178,+,1,False,False,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,chr1,12697,12974,+,1,False,False,1:1,1:1,15:19,...,0,0,0,0,0,0,0,0,0,0
4,chr1,13052,13220,+,1,False,False,22:24,17:18,433:484,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527913,chrY,24883840,24886132,+,0,False,False,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
527914,chrY,24888605,24889352,+,0,False,False,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
527915,chrY,24889386,24901111,+,0,False,False,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
527916,chrY,24833970,24840730,+,0,False,False,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
527917,chrY,24871607,24895696,+,0,False,False,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df[df["class"] == 0]

,chr,start,end,strand,class,ss_antisense_start_site,ss_antisense_end_site,GTExv2,TCGAv2,SRAv3h,...,repeat_features_end_site:Type I Transposons/SINE,repeat_features_end_site:Simple repeats,repeat_features_end_site:Type I Transposons/LINE,repeat_features_end_site:LTRs,repeat_features_end_site:Dust,repeat_features_end_site:Unknown,repeat_features_end_site:RNA repeats,repeat_features_end_site:Satellite repeats,repeat_features_end_site:Tandem repeats,repeat_features_end_site:Low complexity regions
402454,chr1,732207,739802,-,0,False,False,18978:968117,10476:171758,144636:3092431,...,0,0,0,0,0,0,0,0,0,0
402455,chr1,6634784,6634990,-,0,True,True,1:1,41:47,23:85,...,0,0,0,0,0,0,0,0,0,0
402456,chr1,9036720,9088663,+,0,True,False,NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,0
402457,chr1,9088686,9100902,+,0,False,True,NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,0
402458,chr1,11277018,11277484,-,0,False,False,NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527913,chrY,24883840,24886132,+,0,False,False,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
527914,chrY,24888605,24889352,+,0,False,False,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
527915,chrY,24889386,24901111,+,0,False,False,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
527916,chrY,24833970,24840730,+,0,False,False,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
527917,chrY,24871607,24895696,+,0,False,False,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df_splice_site_split = df["RC3-Splice_site"].str.split(":")
df["RC3 - Acceptor splice site"] = df_splice_site_split.str[0]
df["RC3 - Donor splice site"] = df_splice_site_split.str[1]
df

,chr,start,end,strand,class,ss_antisense_start_site,ss_antisense_end_site,GTExv2,TCGAv2,SRAv3h,...,repeat_features_end_site:Type I Transposons/LINE,repeat_features_end_site:LTRs,repeat_features_end_site:Dust,repeat_features_end_site:Unknown,repeat_features_end_site:RNA repeats,repeat_features_end_site:Satellite repeats,repeat_features_end_site:Tandem repeats,repeat_features_end_site:Low complexity regions,RC3 - Acceptor splice site,RC3 - Donor splice site
0,chr1,12227,12612,+,1,False,False,1122:3199,583:1460,9374:54492,...,0,0,0,0,0,0,0,0,GT,AG
1,chr1,12721,13220,+,1,False,False,1791:3198,783:1104,14048:56719,...,0,0,0,0,0,0,0,0,GT,AG
2,chr1,12057,12178,+,1,False,False,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
3,chr1,12697,12974,+,1,False,False,1:1,1:1,15:19,...,0,0,0,0,0,0,0,0,GT,AG
4,chr1,13052,13220,+,1,False,False,22:24,17:18,433:484,...,0,0,0,0,0,0,0,0,GC,AG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527913,chrY,24883840,24886132,+,0,False,False,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
527914,chrY,24888605,24889352,+,0,False,False,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
527915,chrY,24889386,24901111,+,0,False,False,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
527916,chrY,24833970,24840730,+,0,False,False,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
527917,chrY,24871607,24895696,+,0,False,False,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN

In [16]:
df.to_csv("data/4_populated_features.tsv", sep="\t", index=False)