In [1]:
import pandas as pd

In [2]:
df_recount3 = pd.read_csv("ftp-data/recount3.bed", sep="\t", names=["Chrom", "Start", "End", "Features", "Score", "Strand"])
df_gencode_introns = pd.read_csv("gencode_v44_introns.csv")
df_recount3

In [8]:
df_recount3["GTExv2"]

,chrom,chromStart,chromEnd,Features,Score,Strand
0,chr1,10017,10106,GTExv2=0:0;TCGAv2=0:0;SRAv3h=19:26;GT:AG,26,-
1,chr1,10017,10178,GTExv2=0:0;TCGAv2=0:0;SRAv3h=24:40;GT:AG,40,-
2,chr1,10023,10106,GTExv2=0:0;TCGAv2=0:0;SRAv3h=60:98;GT:AG,98,-
3,chr1,10023,10178,GTExv2=0:0;TCGAv2=0:0;SRAv3h=72:123;GT:AG,123,-
4,chr1,10029,10106,GTExv2=0:0;TCGAv2=0:0;SRAv3h=150:307;GT:AG,307,-
...,...,...,...,...,...,...
16350176,chrY_KI270740v1_random,34728,36982,GTExv2=0:0;TCGAv2=0:0;SRAv3h=18:36;GT:AG,36,-
16350177,chrY_KI270740v1_random,34853,36982,GTExv2=0:0;TCGAv2=0:0;SRAv3h=21:37;GT:AG,37,-
16350178,chrY_KI270740v1_random,34853,37107,GTExv2=2:2;TCGAv2=0:0;SRAv3h=22:27;GT:AG,29,-
16350179,chrY_KI270740v1_random,35132,35257,GTExv2=0:0;TCGAv2=0:0;SRAv3h=28:39;GT:AG,39,+
16350180,chrY_KI270740v1_random,35228,36484,GTExv2=0:0;TCGAv2=0:0;SRAv3h=18:33;GT:AG,33,-

In [12]:
df_recount3["Splice-site"] = df_recount3["Features"].str.split(";").str[3]
df_recount3

,Chrom,Start,End,Features,Score,Strand,Splice-site
0,chr1,10017,10106,GTExv2=0:0;TCGAv2=0:0;SRAv3h=19:26;GT:AG,26,-,GT:AG
1,chr1,10017,10178,GTExv2=0:0;TCGAv2=0:0;SRAv3h=24:40;GT:AG,40,-,GT:AG
2,chr1,10023,10106,GTExv2=0:0;TCGAv2=0:0;SRAv3h=60:98;GT:AG,98,-,GT:AG
3,chr1,10023,10178,GTExv2=0:0;TCGAv2=0:0;SRAv3h=72:123;GT:AG,123,-,GT:AG
4,chr1,10029,10106,GTExv2=0:0;TCGAv2=0:0;SRAv3h=150:307;GT:AG,307,-,GT:AG
...,...,...,...,...,...,...,...
16350176,chrY_KI270740v1_random,34728,36982,GTExv2=0:0;TCGAv2=0:0;SRAv3h=18:36;GT:AG,36,-,GT:AG
16350177,chrY_KI270740v1_random,34853,36982,GTExv2=0:0;TCGAv2=0:0;SRAv3h=21:37;GT:AG,37,-,GT:AG
16350178,chrY_KI270740v1_random,34853,37107,GTExv2=2:2;TCGAv2=0:0;SRAv3h=22:27;GT:AG,29,-,GT:AG
16350179,chrY_KI270740v1_random,35132,35257,GTExv2=0:0;TCGAv2=0:0;SRAv3h=28:39;GT:AG,39,+,GT:AG
16350180,chrY_KI270740v1_random,35228,36484,GTExv2=0:0;TCGAv2=0:0;SRAv3h=18:33;GT:AG,33,-,GT:AG

In [9]:
df_gencode_introns

,gene_id,transcript_id,intron_id,intron_start,intron_ends,prev_exon_id,next_exon_id
0,ENSG00000290825.1,ENST00000456328.2,0,12227,12612,ENSE00002234944.1,ENSE00003582793.1
1,ENSG00000290825.1,ENST00000456328.2,1,12721,13220,ENSE00003582793.1,ENSE00002312635.1
2,ENSG00000223972.6,ENST00000450305.2,0,12057,12178,ENSE00001948541.1,ENSE00001671638.2
3,ENSG00000223972.6,ENST00000450305.2,1,12227,12612,ENSE00001671638.2,ENSE00001758273.2
4,ENSG00000223972.6,ENST00000450305.2,2,12697,12974,ENSE00001758273.2,ENSE00001799933.2
...,...,...,...,...,...,...,...
1511319,ENSG00000292371.1,ENST00000711270.1,0,15955,57212183,Start-,ENSE00004015127.1
1511320,ENSG00000292371.1,ENST00000711270.1,1,57213125,57213203,ENSE00004015127.1,ENSE00004015126.1
1511321,ENSG00000292371.1,ENST00000711270.1,2,57213357,57213525,ENSE00004015126.1,ENSE00004015125.1
1511322,ENSG00000292371.1,ENST00000711270.1,3,57213602,57213879,ENSE00004015125.1,ENSE00004015124.1
1511323,ENSG00000292371.1,ENST00000711270.1,4,57213964,57214349,ENSE00004015124.1,ENSE00004015123.1

In [11]:
for introns in df_gencode_introns:
	print(introns)

gene_id
transcript_id
intron_id
intron_start
intron_ends
prev_exon_id
next_exon_id