In [1]:
import pandas as pd
import numpy as np
from pandarallel import pandarallel
from tqdm import tqdm

In [24]:
list(df_training_data["chr"].unique())

['chr1',
 'chr2',
 'chr3',
 'chr4',
 'chr5',
 'chr6',
 'chr7',
 'chr8',
 'chr9',
 'chr10',
 'chr11',
 'chr12',
 'chr13',
 'chr14',
 'chr15',
 'chr16',
 'chr17',
 'chr18',
 'chr19',
 'chr20',
 'chr21',
 'chr22',
 'chrX',
 'chrY',
 'chr11_KI270721v1_random',
 'chr14_KI270725v1_random',
 'chr14_KI270726v1_random',
 'chr15_KI270727v1_random',
 'chr16_KI270728v1_random',
 'chr1_KI270711v1_random',
 'chr22_KI270731v1_random',
 'chr22_KI270733v1_random',
 'chr22_KI270734v1_random',
 'chr1_KI270762v1_alt',
 'chr1_KI270766v1_alt',
 'chr1_GL383518v1_alt',
 'chr1_GL383519v1_alt',
 'chr1_GL383520v2_alt',
 'chr1_KI270763v1_alt',
 'chr1_KI270759v1_alt',
 'chr1_KI270761v1_alt',
 'chr2_KI270774v1_alt',
 'chr2_KI270769v1_alt',
 'chr2_GL582966v2_alt',
 'chr2_GL383522v1_alt',
 'chr2_KI270776v1_alt',
 'chr2_KI270767v1_alt',
 'chr3_JH636055v2_alt',
 'chr3_KI270777v1_alt',
 'chr3_KI270779v1_alt',
 'chr3_KI270782v1_alt',
 'chr4_GL000257v2_alt',
 'chr4_GL383527v1_alt',
 'chr5_KI270792v1_alt',
 'chr5_KI270791v1_alt',
 'chr5_GL339449v2_alt',
 'chr5_KI270795v1_alt',
 'chr6_GL000250v2_alt',
 'chr6_KI270800v1_alt',
 'chr6_KI270801v1_alt',
 'chr6_KI270797v1_alt',
 'chr6_KI270798v1_alt',
 'chr7_KI270809v1_alt',
 'chr7_KI270806v1_alt',
 'chr7_GL383534v2_alt',
 'chr7_KI270803v1_alt',
 'chr7_KI270808v1_alt',
 'chr8_KI270821v1_alt',
 'chr8_KI270813v1_alt',
 'chr8_KI270822v1_alt',
 'chr8_KI270819v1_alt',
 'chr8_KI270817v1_alt',
 'chr8_KI270816v1_alt',
 'chr8_KI270815v1_alt',
 'chr9_GL383540v1_alt',
 'chr9_KI270823v1_alt',
 'chr10_GL383546v1_alt',
 'chr10_KI270825v1_alt',
 'chr11_KI270832v1_alt',
 'chr11_KI270830v1_alt',
 'chr11_KI270831v1_alt',
 'chr11_KI270829v1_alt',
 'chr11_JH159136v1_alt',
 'chr11_JH159137v1_alt',
 'chr12_GL877875v1_alt',
 'chr12_GL877876v1_alt',
 'chr12_KI270837v1_alt',
 'chr12_KI270835v1_alt',
 'chr12_GL383550v2_alt',
 'chr12_GL383553v2_alt',
 'chr12_KI270834v1_alt',
 'chr12_KI270833v1_alt',
 'chr13_KI270838v1_alt',
 'chr14_KI270844v1_alt',
 'chr14_KI270847v1_alt',
 'chr14_KI270845v1_alt',
 'chr14_KI270846v1_alt',
 'chr15_KI270852v1_alt',
 'chr15_KI270851v1_alt',
 'chr15_KI270848v1_alt',
 'chr15_GL383554v1_alt',
 'chr15_KI270849v1_alt',
 'chr15_GL383555v2_alt',
 'chr15_KI270850v1_alt',
 'chr16_KI270854v1_alt',
 'chr16_KI270856v1_alt',
 'chr16_KI270855v1_alt',
 'chr16_KI270853v1_alt',
 'chr16_GL383556v1_alt',
 'chr16_GL383557v1_alt',
 'chr17_GL383563v3_alt',
 'chr17_KI270862v1_alt',
 'chr17_KI270861v1_alt',
 'chr17_KI270857v1_alt',
 'chr17_JH159146v1_alt',
 'chr17_JH159147v1_alt',
 'chr17_GL383564v2_alt',
 'chr17_GL000258v2_alt',
 'chr17_KI270860v1_alt',
 'chr18_GL383567v1_alt',
 'chr18_GL383571v1_alt',
 'chr18_GL383572v1_alt',
 'chr18_KI270863v1_alt',
 'chr19_KI270868v1_alt',
 'chr19_KI270865v1_alt',
 'chr19_GL383573v1_alt',
 'chr19_GL383575v2_alt',
 'chr19_GL383576v1_alt',
 'chr19_GL383574v1_alt',
 'chr19_KI270866v1_alt',
 'chr19_KI270867v1_alt',
 'chr19_GL949746v1_alt',
 'chr20_KI270869v1_alt',
 'chr20_KI270871v1_alt',
 'chr20_KI270870v1_alt',
 'chr21_KI270873v1_alt',
 'chr21_GL383580v2_alt',
 'chr21_GL383581v2_alt',
 'chr21_KI270872v1_alt',
 'chr22_KI270875v1_alt',
 'chr22_KI270878v1_alt',
 'chr22_KI270879v1_alt',
 'chr22_KI270876v1_alt',
 'chr22_KI270877v1_alt',
 'chr22_GL383583v2_alt',
 'chr22_GL383582v2_alt',
 'chrX_KI270880v1_alt',
 'chrX_KI270881v1_alt',
 'chr19_KI270882v1_alt',
 'chr19_KI270883v1_alt',
 'chr19_KI270884v1_alt',
 'chr19_KI270885v1_alt',
 'chr19_KI270886v1_alt',
 'chr19_KI270887v1_alt',
 'chr19_KI270888v1_alt',
 'chr19_KI270889v1_alt',
 'chr19_KI270890v1_alt',
 'chr19_KI270891v1_alt',
 'chr1_KI270892v1_alt',
 'chr2_KI270894v1_alt',
 'chr2_KI270893v1_alt',
 'chr3_KI270895v1_alt',
 'chr4_KI270896v1_alt',
 'chr5_KI270897v1_alt',
 'chr5_KI270898v1_alt',
 'chr6_GL000251v2_alt',
 'chr8_KI270900v1_alt',
 'chr11_KI270902v1_alt',
 'chr11_KI270903v1_alt',
 'chr12_KI270904v1_alt',
 'chr15_KI270906v1_alt',
 'chr15_KI270905v1_alt',
 'chr17_KI270907v1_alt',
 'chr17_KI270910v1_alt',
 'chr17_KI270909v1_alt',
 'chr17_KI270908v1_alt',
 'chr18_KI270911v1_alt',
 'chr19_GL949747v2_alt',
 'chr22_KB663609v1_alt',
 'chrX_KI270913v1_alt',
 'chr19_KI270914v1_alt',
 'chr19_KI270915v1_alt',
 'chr19_KI270916v1_alt',
 'chr19_KI270917v1_alt',
 'chr19_KI270918v1_alt',
 'chr19_KI270919v1_alt',
 'chr19_KI270920v1_alt',
 'chr19_KI270921v1_alt',
 'chr19_KI270922v1_alt',
 'chr19_KI270923v1_alt',
 'chr3_KI270924v1_alt',
 'chr6_GL000252v2_alt',
 'chr8_KI270926v1_alt',
 'chr11_KI270927v1_alt',
 'chr19_GL949748v2_alt',
 'chr22_KI270928v1_alt',
 'chr19_KI270929v1_alt',
 'chr19_KI270930v1_alt',
 'chr19_KI270931v1_alt',
 'chr19_KI270932v1_alt',
 'chr19_KI270933v1_alt',
 'chr19_GL000209v2_alt',
 'chr3_KI270934v1_alt',
 'chr6_GL000253v2_alt',
 'chr19_GL949749v2_alt',
 'chr3_KI270935v1_alt',
 'chr6_GL000254v2_alt',
 'chr19_GL949750v2_alt',
 'chr3_KI270936v1_alt',
 'chr6_GL000255v2_alt',
 'chr19_GL949751v2_alt',
 'chr3_KI270937v1_alt',
 'chr6_GL000256v2_alt',
 'chr19_GL949752v1_alt',
 'chr6_KI270758v1_alt',
 'chr19_GL949753v2_alt',
 'chr19_KI270938v1_alt',
 'chrUn_KI270442v1',
 'chrUn_GL000195v1',
 'chrUn_GL000219v1',
 'chrUn_GL000213v1',
 'chrUn_KI270744v1',
 'chr1_KI270713v1_random',
 'chr9_GL383539v1_alt']

In [2]:
df_gencode = pd.read_csv("data/1-rmv_dup_introns_gencode_v44.tsv", sep="\t")
df_gencode = df_gencode.set_index(['strand', 'start', 'end'])
df_gencode = df_gencode.sort_index()

chrom_uniques = list(df_gencode["chr"].unique())  # we get the list of unique chromosome names
dict_chr = {}
# Splitting the dataframe chromosome groups separately into key(chromosome)-value(rows) in a dictionary
for chrom in tqdm(chrom_uniques):
	dict_chr[chrom] = df_gencode[df_gencode.chr == chrom]

dict_chr

100%|██████████| 24/24 [00:00<00:00, 76.15it/s]

{'chr18':                             chr
 strand start    end
 +      11595    13151     chr18
                 15616     chr18
        13354    15616     chr18
        45235    45282     chr18
        45556    45640     chr18
 ...                         ...
 -      80160606 80202709  chr18
        80183150 80201963  chr18
                 80202709  chr18
        80202018 80202709  chr18
        80202932 80247276  chr18

 [7267 rows x 1 columns],
 'chr3':                              chr
 strand start     end
 +      11799     14770      chr3
                  20556      chr3
                  23760      chr3
        12659     14770      chr3
                  20890      chr3
 ...                          ...
 -      198121656 198122027  chr3
        198122079 198122536  chr3
        198122645 198122729  chr3
        198122984 198123051  chr3
        198224435 198224520  chr3

 [24732 rows x 1 columns],
 'chr16':                             chr
 strand start    end
 +      11908    12293     chr16
        12378    12662     chr16
        12402    12901     chr16
        12733    12905     chr16
        13076    13155     chr16
 ...                         ...
 -      90086870 90091606  chr16
        90105146 90105952  chr16
        90110808 90125969  chr16
        90116562 90125969  chr16
        90126088 90167990  chr16

 [17899 rows x 1 columns],
 'chr1':                              chr
 strand start     end
 +      12057     12178      chr1
        12227     12612      chr1
        12697     12974      chr1
        12721     13220      chr1
        13052     13220      chr1
 ...                          ...
 -      248858321 248858511  chr1
                  248858917  chr1
                  248859014  chr1
        248858385 248858917  chr1
        248858419 248858917  chr1

 [38367 rows x 1 columns],
 'chr9':                              chr
 strand start     end
 +      12190     12290      chr9
        12340     12725      chr9
        12834     13087      chr9
        13157     13337      chr9
        13487     13565      chr9
 ...                          ...
 -      138178147 138178520  chr9
        138178615 138179043  chr9
        138179171 138179260  chr9
        138179513 138179564  chr9
        138200282 138203137  chr9

 [15209 rows x 1 columns],
 'chr12':                               chr
 strand start     end
 +      12358     12739      chr12
        12824     13101      chr12
        13201     13369      chr12
        67436     99145      chr12
        77712     99145      chr12
 ...                           ...
 -      133226438 133226935  chr12
        133227152 133227823  chr12
        133227947 133231516  chr12
        133231644 133234107  chr12
        133234378 133235806  chr12

 [22222 rows x 1 columns],
 'chr7':                              chr
 strand start     end
 +      12822     26964      chr7
        24365     26964      chr7
        77353     80129      chr7
        150132    151810     chr7
                  152440     chr7
 ...                          ...
 -      159103854 159109811  chr7
        159109919 159142445  chr7
        159117406 159142445  chr7
        159142545 159144297  chr7
                  159144720  chr7

 [19607 rows x 1 columns],
 'chr10':                               chr
 strand start     end
 +      44901     44951      chr10
        45204     45308      chr10
        45405     45833      chr10
        45882     46244      chr10
        46359     46841      chr10
 ...                           ...
 -      133658501 133658629  chr10
        133658722 133659364  chr10
        133659457 133659705  chr10
        133659808 133660321  chr10
        133660466 133660562  chr10

 [15978 rows x 1 columns],
 'chr4':                              chr
 strand start     end
 +      53491     59429      chr4
                  85730      chr4
        59556     60057      chr4
                  85730      chr4
        60153     67839      chr4
 ...                          ...
 -      190060613 190060929  chr4
        190060984 190061088  chr4
        190061242 190061339  chr4
        190061450 190061639  chr4
        190061782 190062812  chr4

 [16571 rows x 1 columns],
 'chr19':                             chr
 strand start    end
 +      72274    72584     chr19
        99229    100275    chr19
                 104501    chr19
        100432   104501    chr19
        107157   107472    chr19
 ...                         ...
 -      58571429 58573054  chr19
                 58573372  chr19
        58572719 58573054  chr19
        58594125 58597705  chr19
        58597816 58599099  chr19

 [21573 rows x 1 columns],
 'chr8':                              chr
 strand start     end
 +      72673     78904      chr8
        72701     78904      chr8
        232267    240823     chr8
        232415    240823     chr8
        232624    240301     chr8
 ...                          ...
 -      144999769 145002792  chr8
                  145002816  chr8
        145000159 145002816  chr8
        145000492 145002816  chr8
        145000538 145002816  chr8

 [15493 rows x 1 columns],
 'chr20':                             chr
 strand start    end
 +      87359    96004     chr20
        87767    96004     chr20
        142686   145414    chr20
        145488   145578    chr20
        157593   158773    chr20
 ...                         ...
 -      64076954 64079872  chr20
        64083494 64083582  chr20
        64083705 64083817  chr20
        64100815 64100995  chr20
        64106922 64107363  chr20

 [9524 rows x 1 columns],
 'chr5':                              chr
 strand start     end
 +      92276     113250     chr5
        113448    139482     chr5
        140716    143046     chr5
        143256    143379     chr5
        143503    144826     chr5
 ...                          ...
 -      181256859 181260000  chr5
        181257054 181260000  chr5
        181257228 181260000  chr5
        181257494 181260000  chr5
        181259906 181260000  chr5

 [18451 rows x 1 columns],
 'chr11':                               chr
 strand start     end
 +      125100    125171     chr11
        129513    171597     chr11
        171716    185901     chr11
        193154    193711     chr11
        193911    194417     chr11
 ...                           ...
 -      134999009 135003720  chr11
        135003862 135007512  chr11
        135061947 135074113  chr11
        135073576 135074113  chr11
        135074371 135075610  chr11

 [21966 rows x 1 columns],
 'chr17':                             chr
 strand start    end
 +      137645   138202    chr17
        138402   138909    chr17
        321610   322261    chr17
        321631   322261    chr17
        331717   331799    chr17
 ...                         ...
 -      83048785 83049035  chr17
                 83051736  chr17
        83221408 83226409  chr17
                 83227620  chr17
                 83227648  chr17

 [22446 rows x 1 columns],
 'chr6':                              chr
 strand start     end
 +      184371    184505     chr6
        203438    203962     chr6
        204413    205486     chr6
        291700    304627     chr6
        292560    304627     chr6
 ...                          ...
 -      170583747 170584054  chr6
                  170584298  chr6
        170584392 170584491  chr6
        170736394 170737500  chr6
        170737551 170737611  chr6

 [19287 rows x 1 columns],
 'chr2':                              chr
 strand start     end
 +      198615    199743     chr2
                  200163     chr2
        199901    200163     chr2
        200230    202915     chr2
                  209484     chr2
 ...                          ...
 -      242048283 242060296  chr2
        242058884 242059119  chr2
                  242060296  chr2
        242059193 242060296  chr2
        242060519 242084095  chr2

 [31055 rows x 1 columns],
 'chrX':                              chr
 strand start     end
 +      253846    254936     chrX
        276394    281481     chrX
                  284166     chrX
        281121    281481     chrX
        281256    281481     chrX
 ...                          ...
 -      156015500 156016661  chrX
        156026605 156026683  chrX
        156026837 156027005  chrX
        156027082 156027359  chrX
        156027444 156027829  chrX

 [12713 rows x 1 columns],
 'chrY':                            chr
 strand start    end
 +      253846   254936    chrY
        276394   281481    chrY
                 284166    chrY
        281121   281481    chrY
        281256   281481    chrY
 ...                        ...
 -      57202020 57203181  chrY
        57213125 57213203  chrY
        57213357 57213525  chrY
        57213602 57213879  chrY
        57213964 57214349  chrY

 [2257 rows x 1 columns],
 'chr21':                             chr
 strand start    end
 +      5011874  5012547   chr21
        5012687  5014385   chr21
        5014471  5016934   chr21
        5022693  5025008   chr21
        5025049  5026279   chr21
 ...                         ...
 -      46448599 46458326  chr21
        46599503 46600281  chr21
                 46602277  chr21
        46600375 46602277  chr21
        46602416 46605012  chr21

 [4975 rows x 1 columns],
 'chr22':                             chr
 strand start    end
 +      11066515 11067984  chr22
        11124379 11124507  chr22
        11474904 11475145  chr22
        11475238 11477177  chr22
        11827658 11832760  chr22
 ...                         ...
 -      50782351 50783044  chr22
                 50783500  chr22
        50783045 50783500  chr22
        50783286 50783390  chr22
                 50783500  chr22

 [8468 rows x 1 columns],
 'chr13':                               chr
 strand start     end
 +      18195411  18218998   chr13
        18212062  18215310   chr13
        18215357  18218998   chr13
        18219057  18219525   chr13
        18219084  18222496   chr13
 ...                           ...
 -      114214288 114215655  chr13
        114265359 114268270  chr13
        114276400 114277196  chr13
        114329845 114330665  chr13
        114330778 114333834  chr13

 [7769 rows x 1 columns],
 'chr14':                               chr
 strand start     end
 +      18333896  18338242   chr14
        18333900  18337972   chr14
        18338078  18338242   chr14
        18338416  18340613   chr14
        18340726  18341693   chr14
 ...                           ...
 -      106810746 106810849  chr14
        106823999 106824102  chr14
        106867955 106868047  chr14
        106873057 106873140  chr14
        106874887 106874971  chr14

 [13288 rows x 1 columns],
 'chr15':                               chr
 strand start     end
 +      19878668  19878830   chr15
        19879004  19881200   chr15
        19881307  19882276   chr15
        19882439  19884978   chr15
        19885043  19887723   chr15
 ...                           ...
 -      101977746 101977922  chr15
                  101978245  chr15
        101977992 101978269  chr15
        101978354 101978739  chr15
        101978372 101978739  chr15

 [15337 rows x 1 columns]}

In [17]:
# Sample query: Find the nearest entry of chr1 with strand '+' and nearest to 13579
# query_chr = 'chr1'
# query_strand = '-'
# query_position = 14499

def find_nearest_match_start_ss(row, site):
    # print(row)
    query_chr = row["chr"]
    query_strand = row["strand"]
    query_position = row[site]

    # Filter the DataFrame for the relevant entries
    filtered_df = dict_chr[query_chr].loc[(query_strand)].copy()


    # Calculate the distance to the specified position
    filtered_df['distance'] = np.abs(filtered_df.index.get_level_values(site) - query_position)

    # Exclude exact match from the DataFrame (if it exists)
    filtered_df = filtered_df[filtered_df['distance'] != 0]

    # Find the row with the minimum distance (i.e., the nearest entry after excluding exact matches)
    nearest_entry = filtered_df.loc[filtered_df['distance'].idxmin()]

    return nearest_entry.distance

In [4]:
df_training_data = pd.read_csv("data/4.2_hg38_paired_introns.tsv", sep="\t", usecols=["chr","start","end","strand"])
df_training_data

         chr     start       end strand
0       chr1     12227     12612      +
1       chr1     12721     13220      +
2       chr1     12057     12178      +
3       chr1     12697     12974      +
4       chr1     13052     13220      +
...      ...       ...       ...    ...
527913  chrY  24883840  24886132      +
527914  chrY  24888605  24889352      +
527915  chrY  24889386  24901111      +
527916  chrY  24833970  24840730      +
527917  chrY  24871607  24895696      +

[527918 rows x 4 columns]

In [5]:
pandarallel.initialize()

INFO: Pandarallel will run on 12 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [20]:
%%time
df_training_data["nearest_start_ss_dist"] = df_training_data.parallel_apply(find_nearest_match_start_ss, args=("start",), axis=1)

KeyError: 'chr6_GL000255v2_alt'

In [19]:
# %%time
#
# df_test = df_training_data.copy().head(10000)
# df_test["start_site_nearest"] = df_test.parallel_apply(find_nearest_match_start_ss, args=("start",), axis=1)
# df_test

CPU times: user 29.4 ms, sys: 18.2 ms, total: 47.6 ms
Wall time: 1.37 s

       chr     start       end strand  start_site_nearest
0     chr1     12227     12612      +                 170
1     chr1     12721     13220      +                  24
2     chr1     12057     12178      +                 170
3     chr1     12697     12974      +                  24
4     chr1     13052     13220      +                 322
...    ...       ...       ...    ...                 ...
9995  chr1  41848445  41848870      -                 644
9996  chr1  41849089  41918412      -                 644
9997  chr1  41918524  42035806      -               52909
9998  chr1  41849089  41864577      -                 644
9999  chr1  41864648  41865547      -                 967

[10000 rows x 5 columns]

In [21]:
df_training_data

         chr     start       end strand
0       chr1     12227     12612      +
1       chr1     12721     13220      +
2       chr1     12057     12178      +
3       chr1     12697     12974      +
4       chr1     13052     13220      +
...      ...       ...       ...    ...
527913  chrY  24883840  24886132      +
527914  chrY  24888605  24889352      +
527915  chrY  24889386  24901111      +
527916  chrY  24833970  24840730      +
527917  chrY  24871607  24895696      +

[527918 rows x 4 columns]